#directory-content-info-bar
{
    height:0px;    
    z-index: 440;
    position: relative;   
    
    will-change:height;
    @include transition(height .5s);       

    @include box-shadow-1(0 -8px 8px -5px rgba(173, 173, 173, 0.75));  

    background-color: #F7F7F7;

    .element-item
    {
        .menu-element { display: none; } 
        .element-main-icon { display:none; }
        .star-names-icons { display:block; }  
        .sectionInfos { line-height: 2rem; }      
    }

    &.inside-normal-mode
    {
        .element-main-icon { display:block; }
        .star-names-icons { display:none; }
    }     

    #element-info
    {
        margin-bottom: 2.3rem; // pour le element-menu
        @media #{$medium-and-up} 
        {
            margin-bottom: 3rem;
        }

        .moreDetails 
        { 
            display : none; 
        }
    }

    .icon-close 
    {
        float: right;
        margin: 0;
        font-size: 1.2rem;
        color: #3D3D3D;
        margin-top: -.1rem;

        &:hover
        {
            color: $secondary-color;
            cursor: pointer;
        }
    }
}

@media #{$medium-and-down}
{
    #directory-content-info-bar { right: 0 !important; }
}

@media #{$large-only}
{
    #directory-content-info-bar
    {
        position: absolute;
        width: 480px;
        top: 0;
        right: 0;   
        height: 100% !important; 

        overflow-y: visible;        

        @include box-shadow-1(0px 6px 9px 2px rgba(119, 119, 119, 0.75));

        .element-main-icon { display:none !important; }
        .star-names-icons { display:none !important; } 

        .icon-close
        {   
            padding-left: 1rem;
            color: #CECECE;

            &:hover { color: white; }
        }
    }    

    #element-info 
    {  
        .moreDetails 
        {
            display:block !important;
        }

        .hideOnLargeScreen
        {
            display:none !important;
        }        
    }   
}