#bandeau_detail
{
    height:0px;
    z-index: 440;
    position: relative;   
    
    will-change:height;
    @include transition(height .5s);       

    @include box-shadow-1(0 -5px 5px -5px rgba(119, 119, 119, 0.75));  

    background-color: #F7F7F7;

    .providerItem
    {
        .menu-provider { display: none; } 
        .iconMainProduct { display:none; }
        .starNamesIcons { display:block; }        
    }

    &.insideNavigationMode
    {
        .iconMainProduct { display:block; }
        .starNamesIcons { display:none; }
    }     

    #detail_provider
    {
        margin-bottom: 2.3rem; // pour le provider-menu
        @media #{$medium-and-up} 
        {
            margin-bottom: 3rem;
        }

        .moreDetails 
        { 
            display : none; 
        }
    }

    .icon-close 
    {
        float: right;
        margin: 0;
        font-size: 1.2rem;
        color: #3D3D3D;
        margin-top: -.1rem;

        &:hover
        {
            color: $secondary-color;
            cursor: pointer;
        }
    }
}

@media #{$large-and-up}
{
    #bandeau_detail
    {
        position: absolute;
        width: 480px;
        top: 0;
        right: 0;   
        height: 100% !important; 

        overflow-y: visible;        

        @include box-shadow-1(0px 6px 9px 4px rgba(119, 119, 119, 0.75));

        .iconMainProduct { display:none !important; }
        .starNamesIcons { display:none !important; } 

        .icon-close
        {
            background-color: #3D3D3D;
            padding-left: 1rem;
            color: #CECECE;

            &:hover { color: white; }
        }
    }    

    #detail_provider 
    {  
        .moreDetails 
        {
            display:block !important;
        }

        .hideOnLargeScreen
        {
            display:none !important;
        }        
    }   
}