#ProviderList
{
	border-left: none;
	height: auto;

	ul
	{
		height: auto;
		position: relative;
		@media #{$medium-and-up} { padding: 0 3rem; }
		@media #{$large-only} { padding: 0 10rem; }
	}

	.providerItem
	{
		.menu-provider { display: none; } 
		.iconMainProduct {display:none}
		.starNamesIcons {display:block}
		.icon-close {display:none}
		.distance{ margin-right: 0;}
	}

	.collapsible
	{
		overflow-y: auto;
		margin :0;
		&.customScrollBar::-webkit-scrollbar {
		    width: 14px;
		}
	}

	.collapsible.popout > li
	{ 
		margin: 0;
		margin-bottom: 1px; 
	}

	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
	}

	.provider-list-title
	{
		display:block;
		position: relative;
		line-height: 3rem;
	    text-align: center;
	    color: #F5F3F3;
	    background-color: #3D3D3D;	    
	}	
}

