<!-- Pop up message alerte-->
  <div id="popup-delete-provider" class="modal">
	  <div class="modal-content">
	  	<form>

	    <h5 id="popup_title">Suppression du fournisseur "<span class="providerName"></span>"</h5>
	    <p>Pour quelle motif voulez-vous supprimer ce fournisseur ?</p>
	    
	    
	    <div class="input-field">
	    <select id="select_reason" name="mainProductSelection">
	   	    <option value=""  disabled selected>Choississez le motif</option>	      
	      	<option value="exist">Ce fournisseur n'existe plus</option>
	      	<option value="nobio">Ce fournisseur ne propose pas des produits respectant la charte de "Mon voisin fait du bio" </option>
	    </select>
    	
    	</div>

    	<p id="delete-info">Le fournisseur ne sera pas automatiquement supprimé, une requête va être envoyé aux administrateurs pour validation</p>

    	<div id="captcha-error-message" style="display:none;color:red;text-align:center;">Vous devez valider le captcha ci-dessous</div>
		<div id="captcha"></div>
		
		<button onclick="$('#popup-delete-provider').closeModal()" type="button" class="waves-effect waves-teal btn-flat">annuler</button>
		
		<button onclick="deleteProvider()" type="button" class="btn waves-effect waves-light">	Supprimer</button>


		
		</form>	    

	  </div>
	   
  </div>