<div class="input-field " id="inputAddress-container" > 
	<a class="icon-search" id="inputAddress-icon"></a>
    <input class="validate" placeholder="Entrez votre adresse ici" type="text" id="inputAddress" name="adresse" onClick="this.setSelectionRange(0, this.value.length)" value="{{ slug | replace('-', ' ') | capitalize }}"/>
</div>