<div class="menu-element">      
    <center>
      <span class="menu-icon icon-star-empty iconFavorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Enregistrer comme favoris"></span>
      <span class="menu-icon icon-star-full iconFavorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Retirer des favoris"></span>
      <span class="menu-icon icon-directions tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Itinéraire vers ce element"></span>
      <span class="menu-icon icon-edit tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Modifier ces informations"></span>
      <span class="menu-icon icon-delete tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Supprimer ce element"></span>
      {# <button id="" class="btn waves-effect waves-light">Modifier</button>
      <button id="" class="btn waves-effect waves-light">Supprimer</button> #}
    </center>       
</div>   