<div class="menu-provider">      
    <center>
      <span class="menu-icon icon-directions tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Itinéraire vers ce fournisseur"></span>
      <span class="menu-icon icon-edit tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Modifier ces informations"></span>
      <span class="menu-icon icon-delete tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Supprimer ce fournisseur"></span>
      {# <button id="" class="btn waves-effect waves-light">Modifier</button>
      <button id="" class="btn waves-effect waves-light">Supprimer</button> #}
    </center>       
</div>   