#modal-pick-address.modal, #modal-directions-fail.modal
{
    position: absolute;
}  

.simple-modal.modal
{
  z-index: 2000;
  max-width: 1200px;
  top: 30% !important;
  position: absolute !important;

  .modal-content
  {
    padding-bottom: 0 !important;

    .modal-error-msg
    {
      display: none;
      color: $error-color;
    }
  }

  .modal-footer
  {
    .modal-action
    {
      color: white !important;
    }
  }

  .input-simple-modal
  {
    &:focus
    {
      border-color: $secondary-color; 
      box-shadow: none;
    }

    &::selection {
      background-color: $secondary-color; 
        color: white;
    }
    &::-moz-selection {
      background-color: $secondary-color; 
        color: white;
    }
  }
}


#too-many-markers-modal
{
	display:none;
	position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 45%;
    width: 50%;
    max-width: 500px;
    padding: .5rem;
    margin: 0 auto;
    text-align: center;
    z-index: 50;
    background-color: #4b7975;
    color: white;
    border: 2px solid #335250;
	border-radius: 10px;
	@extend .z-depth-2; 
}