@import '../../../CoreBundle/Resources/scss/partials/base';

@import 'home';
@import 'create';

body
{
  height: auto;
  min-height: 100%;
  @include flexbox();
}

#page-container
{
  width: 100%;

  #page-content
  {
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;   
    padding: 0rem; 
    background-color: transparent;

    h1 {
      text-align: center;
      margin-bottom: 35px;
    }

    @media screen and (min-width: 900px)
    {
       margin-top: 30px;
       max-width: 900px;
       width:80%;  
    }

    section {
      position: relative;
      text-align: center;
      background-color: white;
      padding: 2rem;
      border-radius: 5px;
      margin-bottom: 2rem;
    }  

    .overlay {
      display: none;
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;

      .overlay-content {
        position: absolute;
        top: 40%; left: 0; right: 0;
        text-align: center;

        .message { margin-bottom: 2.5rem; }
      }
      
    }
  }
}

