{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'error' %}
{% set navTitle = "Erreur" %}

{% block title %}Erreur!{% endblock %}

{# BODY CONTENT #}
{% block body_content %}
  <section>
  	<h1>Oops! Une erreur s'est produite</h1>

    <div>
      On est probablement juste en train de faire une mise à jour !</br></br>      

      <img src="https://media.giphy.com/media/P8WZZ0NYdbXAA/giphy.gif" width="200" height="200" /></br></br>

      Revenez d'ici un heure ça devrait être mieux :)</br>
      Si le problème persiste, merci de nous en informer ! </br>
      contact@presdecheznous.fr 
      
      <!-- Le serveur à répondu "{{ status_code }} {{ status_text }}".</br> -->
    </div>
  </section>
{% endblock %}

