
{#
  WARNING
  If you modify this document, please report changes in element-info.html.twig also.
  this is a lack of feature in TwigJsTemplate who does not implements the twig "include" method
#}
<div class="menu-element">      
    <center>
      <span class="menu-icon icon-star-empty icon-favorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Enregistrer comme favoris"></span>

      <span class="menu-icon icon-star-full icon-favorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Retirer des favoris"></span>

      <span class="menu-icon icon-share-alt tooltipped"
      data-position="top" data-delay="0" data-tooltip="Partager l'URL"></span>

      <span class="menu-icon icon-directions tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Itinéraire vers cet élément"></span>

      <span class="menu-icon icon-edit tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Proposer des modifications"></span>
      
      <span class="menu-icon btn-delete icon-exclamation-circle tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Signaler une erreur"></span>
    </center>       
</div>   