<div class="menu-element">      
    <center>
      <span class="menu-icon icon-star-empty icon-favorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Enregistrer comme favoris"></span>

      <span class="menu-icon icon-star-full icon-favorite tooltipped" style="display:none"
      data-position="top" data-delay="0" data-tooltip="Retirer des favoris"></span>

      <span class="menu-icon icon-directions tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Itinéraire vers cet élément"></span>

      <span class="menu-icon icon-edit tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Modifier ces informations"></span>
      
      <span class="menu-icon icon-delete tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Supprimer cet élément"></span>
    </center>       
</div>   