<div class="input-field" id="search-bar-container" > 

	<a class="icon-search" id="search-bar-icon"></a>

    <input class="validate" 
    	   placeholder="Entrez une adresse" 
    	   type="text" 
    	   id="search-bar" 
    	   name="adresse" 
    	   onClick="this.setSelectionRange(0, this.value.length)" 
    	   {% if slug is defined %} 
    	   value="{{ slug | replace('-', ' ') | capitalize }}" 
    	   {% endif %}
    />
    
</div>

<div id="search-distance-component" style="display:none">
    <div class="range-field" id="search-distance-container">
      <input type="range" id="search-distance-input" min="30" max="150" value="{{ searchRange }}" />
    </div>
    <div id='search-distance-value-container'>
        <span id='search-distance-value'>{{ searchRange }} km</span> 
    </div>
</div>