<div class="input-field" id="search-bar-container" > 

	<a class="icon-search" id="search-bar-icon"></a>

    <input class="validate" 
    	   placeholder="Recherchez un lieu, un acteur, une catégorie" 
    	   type="text" 
    	   id="search-bar" 
    	   name="adresse" 
    	   onClick="this.setSelectionRange(0, this.value.length)" 
    	   {% if config.address is defined %}
    	   value="{{ config.address | replace({'-': ' '}) | capitalize }}" 
    	   {% endif %}
    />
    
</div>

{% if config.range is defined %}
<div id="search-distance-component">
    <div class="range-field" id="search-distance-container">
      <input type="range" id="search-distance-input" min="30" max="150" value="{{ config.range }}" />
    </div>
   
    <div id='search-distance-value-container'>
        <span id='search-distance-value'>{{ config.range }} km</span> 
    </div>
    
</div>
{% endif %}