<div id="modal-pick-address" class="modal">
  <div class="modal-content">

    <h5 id="modal-title">Calcul d'un itinéraire</h5>
    <p>Vous devez d'abord saisir une adresse dans le menu pour pouvoir calculer un itinéraire</p>   
  </div>
  <div class="modal-footer">
  	<span  class=" modal-action modal-close waves-effect waves-green btn-flat">OK</span>
  </div>
   
</div>


<div id="modal-directions-fail" class="modal">
  <div class="modal-content">

    <h5 id="modal-title">Calcul d'un itinéraire</h5>
    <p>Impossible de calculer l'itinéraire demandé !</p>   
  </div>
  <div class="modal-footer">
  	<span  class=" modal-action modal-close waves-effect waves-green btn-flat">OK</span>
  </div>   
</div>