// Mixins
@import "../modules/prefixer";
@import "../modules/variables";

// Reset
@import "../modules/normalize";

html
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgb(234, 234, 234);
}

body
{
  position: absolute;
  height: 100%;
  width: 100%;
}

#fond_page
{  
  height: 100%
}