header 
{	
	color: white ;
	@extend .z-depth-2;	

	@media #{$small-and-down} 
	{
		#menu 
		{ 
			margin: 0 ; 
			height: 2rem !important;
	    	font-size: .85rem !important;
		}
	}

	#menu
	{
		height: 2.5rem;
		font-size:1rem;
		margin-bottom: 0px ;
		
		div 
		{ 
			height: 100%;
			text-align:center ;
			background-color: #26a69a ;			
			border-bottom: 2px solid rgba(0, 0, 0, 0);
			color: white;
			font-size: inherit ;
			@include transition(all 0.4s);
			
		}
		div.milieu
		{
			border-right: 1px solid rgba(0, 0, 0, 0.21);
			border-left: 1px solid rgba(0, 0, 0, 0.21);
		}
		div:hover
		{
			//background-color: rgb(70, 177, 167);
			border-bottom: 2px solid rgba(0, 0, 0, 0.46);
			//@include transition(all 0.4s);
		}
		a 
		{ 
			color: inherit; 
			font-size: inherit ;
			width:100%;
			border-radius: 0; 
			border: none;
			background-color: transparent;
    		letter-spacing: .5px;
		}
	}
}

