#detail_fournisseur
{
	.collapsible-body { border-bottom: 0 }
	.moreDetails { display : none; }
	li { list-style-type: none; }
}

#FournisseurList, #bandeau_detail
{	
	.collapsible.popout > li
	{ 
		margin: 0;
		margin-bottom: 1px; 
	}
	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
	}

	.btn
	{
		height: 2rem;
    	line-height: 2rem;
    	padding: 0 1rem;
	}
	//background-color: rgb(252, 252, 252);
	.collapsible{ margin :0 }
	.collapsible-header i { margin-right: 0; padding-left: 0.3rem; }
	.collapsible-header
	{
		padding: 0 .5rem;
	}
	.collapsible-header-title 
	{ 		
		margin-bottom: 0rem; 
		overflow: hidden;
		text-overflow: ellipsis;
		height: 3rem;
	}
	.collapsible-header-more 
	{ 
		line-height: 1.5rem; 
		.produits 
		{ 
		    font-weight: 500;
		    color: #525252;
		    font-style: italic;
		}
		.description
		{
		    margin-bottom: .7rem;
		    text-align: justify;
		}
	}
	.collapsible-body
	{
		background-color: #F7F7F7;
		padding: 0 .5rem 1rem .5rem;

		h2
		{
		  font-weight: bold !important;
		  font-size: 1rem !important; 
		  line-height: 110% !important;
		  margin: 0.5rem 0 .8rem 0 ;
		}
		.row { margin-bottom: 0 }
		.section{ /* padding-bottom: 0; */ }
		.categorie,.adresse, .tel
		{
			/* padding-left: 1.3rem; */
		}
		.categorie { text-decoration: underline; }
		.description,.detail { text-align: justify; }
	}
	
}