// ---------------------------------------
//             GOOGLE MAP
// ---------------------------------------
#map
{   
    z-index: 10;
    heigh:200px;
    width:100%;
    @include transition(height .5s);

    box-shadow: inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75); 

}

// enlever les liens et logo de google
/* a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
} */
/* .gmnoprint div {
    //background:none !important;
} */


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    @include transition(opacity 1s);
    will-change: opacity;
}

#btn_menu
{
	position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: white;
    padding: 8px 8px 0px 8px;
    z-index: 11;
    @extend .z-depth-1;
    color: #555;
    opacity: 1;
    @include transition(opacity 1s);
    @include transition(background-color 1s);

    .icon-menu
    {
        font-size: 1.8rem;
        margin: 0;
    }
}

#btn_menu:hover {cursor: pointer;}




/* #bandeau_option
{
	top: 0;
	left: -200px;
	position:absolute;
	width: 200px;
	background-color: green;
	z-index: 20;
	will-change: left;
} */