// ---------------------------------------
//             GOOGLE MAP
// ---------------------------------------
#map
{   
    position: relative;
    z-index: 10;
    heigh:200px;
    width:100%;
    @include transition(height .5s);

    @include box-shadow-1(inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75)  );

}

@media #{$large-and-up}
{
    #map
    {
        width:auto;
        @include transition(margin-right .5s);
    }
}

// enlever les liens et logo de google
/* a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
} */
/* .gmnoprint div {
    //background:none !important;
} */


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    will-change: opacity;
}

#btn_menu
{
	position: absolute;
    left: 1rem;
    text-align: center;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    z-index: 11;
    @extend .z-depth-1;
    color: #555;

    > i
    {
        font-size: 2rem;
        height: 3rem;
        &:before { line-height: 3rem }
    }

    @media #{$medium-and-up} 
    {
        display: none !important;
    }
}

#btn_menu:hover {cursor: pointer;}