#bandeau_detail
{
    height:0px;
    background-color: #F7F7F7;    
    z-index: 440;
    overflow-y: scroll;
    
    will-change:height;
    @include transition(height .5s);  

    box-shadow: 0 -5px 5px -5px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0 -5px 5px -5px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0 -5px 5px -5px rgba(119, 119, 119, 0.75);     
}

#detail_provider
{
	.collapsible-body { border-bottom: 0 }
	.moreDetails 
	{ 
		display : none; 
	}
	li { list-style-type: none; }

}

#ProviderList
{
	overflow-y: auto;
	background-color: #544242;
	border-left: none;
}

@media #{$large-and-up}
{
	#ProviderList
	{
		background-color: white;

		border-left: 1px solid #a5a5a5;

		box-shadow:  0 4px 4px rgba(0,0,0,.2), 0 -1px 4px rgba(0,0,0,.2);
		-moz-box-shadow:  0 4px 4px rgba(0,0,0,.2), 0 -1px 4px rgba(0,0,0,.2);
		-webkit-box-shadow:  0 4px 4px rgba(0,0,0,.2), 0 -1px 4px rgba(0,0,0,.2);

		z-index: 4000; 
	}
}
#ProviderList, #bandeau_detail
{		
	

	h3
	{
		font-size: 1rem;
	    font-weight: 600;
	    padding-left: 0.75rem;
	    margin-bottom: 0;
	    padding-top: 1rem;
    	margin-top: 0;
	}

	.strong { text-decoration: underline }
	.collapsible.popout > li
	{ 
		margin: 0;
		margin-bottom: 1px; 
	}
	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
		@media #{$large-and-up} { margin: 0; }
	}

	.btn
	{
		height: 2rem;
    	line-height: 2rem;
    	padding: 0 1rem;
    	margin-bottom: 1rem;
	}
	//background-color: rgb(252, 252, 252);
	.collapsible{ margin :0 }
	.collapsible-header i { margin-right: 0; padding-left: 0.3rem; }
	.collapsible-header
	{
		padding: .5rem;
	}
	.collapsible-header-title 
	{ 		
		margin-bottom: 0rem; 
		overflow: hidden;
		text-overflow: ellipsis;
		height: 3rem;
	}
	.collapsible-header-more 
	{ 
		line-height: 1.5rem; 
		margin-bottom: .5rem;

		.products 
		{ 
		    font-weight: 500;
		    color: #525252;
		    font-style: italic;
		}
		.description
		{
		    margin-bottom: .7rem;
		    text-align: justify;
		}
	}
	.collapsible-body
	{
		background-color: #F7F7F7;
		padding: 0 .5rem 1rem .5rem;

		h2
		{
		  font-weight: bold !important;
		  font-size: 1rem !important; 
		  line-height: 110% !important;
		  margin: 0.5rem 0 .8rem 0 ;
		}
		.row { margin-bottom: 0 }
		.section{ /* padding-bottom: 0; */ }
		.categorie,.adresse, .tel
		{
			/* padding-left: 1.3rem; */
		}
		.categorie { text-decoration: underline; }
		.description{ text-align: justify; }
	}

	.sectionDetailProducts
	{
		.detail 
		{ 
			padding-left: .3rem; 
			text-decoration:inherit; 
			line-height: 2.5rem;
		}
		.productName {text-decoration:inherit }
		.product { line-height: 2.5rem; text-decoration:inherit}
	}

	&.smallWidth
	{
		.col 
		{
		    $i: 1;
		    @while $i <= $num-cols {
		      $perc: unquote((100 / ($num-cols / $i)) + "%");
		      &.s#{$i} {
		        width: $perc;
		        margin-left: 0;
		      }
		      $i: $i + 1;
		    }
		    $i: 1;
		    @while $i <= $num-cols {
		      $perc: unquote((100 / ($num-cols / $i)) + "%");
		      &.offset-s#{$i} {
		        margin-left: $perc;
		      }
		      $i: $i + 1;
		    }
		}
	}
	

	&.largeWidth
	{
		.col 
		{
		    $i: 1;
			@while $i <= $num-cols 
			{
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.m#{$i} {
				  width: $perc;
				  margin-left: 0;
			}
			$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols 
			{
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-m#{$i} {
				  margin-left: $perc;
				}
				$i: $i + 1;
			}
		}
	}
}

