@import '../components/inputAddress';

#ProductsList
{
	border-right: 1px solid #a5a5a5;

	box-shadow: 4px 0 4px rgba(0,0,0,.2),-1px 0 4px rgba(0,0,0,.2);
	-moz-box-shadow: 4px 0 4px rgba(0,0,0,.2),-1px 0 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 4px 0 4px rgba(0,0,0,.2),-1px 0 4px rgba(0,0,0,.2);

	z-index: 4000;

	.productListTitle
	{
		//text-align: center;
		position: relative;
	    line-height: 3rem;
	    padding-left: 1rem;
	    font-weight: 400;
	    background-color: $submenu-color;
	    color: white;
	}

	.product-checkbox
	{
		+ label:after
		{
			top: 3px !important;
		    width: 18px;
		    height: 18px;
		    color : #656565;
		    background-color: #656565;
		    border: 2px solid ;		    
		}

		
		+ label:before
		{
			top: 3px;
		    left: 1px;
		    width: 7px;
		    height: 12px;
		}

		&:not(:checked) + label:after 
		{
			background-color: transparent;
		}
	}

	.provider-checkbox
	{
		@extend .product-checkbox;

		//+ label:after { color : $primary-color;background-color: $primary-color; }
	}

	.title-checkbox
	{
		@extend .product-checkbox;

		+ label:after { color : #D2D2D2; background-color: transparent; }
	}

	.product-checkbox-wrapper
	{
		float: right;
	    position: absolute;
	    top: .7rem;
	    right: 0rem;
	}

	.resultNumber
	{
		float: right;
	    position: absolute;
	    top: .7rem;
	    right: .5rem;

		background-color: #EE6E73;
	    color: white;
	    font-size: 0.8rem;
	    @include border-radius(50%);
	    display: inline-block;
	    font-weight: 400;
	    line-height: 1.4rem;
	    margin-right: 5px;
	    text-align: center;
	    width: 1.4rem;	

	    &:before {
		    bottom: -10px;
		    content: "";
		    left: -10px;
		    position: absolute;
		    right: -10px;
		    top: -10px;
		}

	    &:hover
	    {
	    	cursor: pointer;
	    	transform: scale(1.2,1.2);
    		background-color: #B33737
	    }	
	}

	.productItem, .productTitle
	{
		position: relative;
		margin-bottom: 0;
		line-height: 3rem;
		padding: 0;
		padding-left: .7rem;
		height: 3rem;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.productTitle{
		font-weight: 500;
	}

	.productItem:not(.disabled):hover
	{
		background-color: $grey-light;
		cursor: default;
	}

	.disabled
	{
		color: #DFDFDF;
		cursor: default;		

		.resultNumber
		{
			background-color: #DFDFDF;
		}

		:hover
		{
			cursor: default;
		}
	}

	ul
	{
		margin: 0;
		border: 0;
		box-shadow: none;
	}
	.moreResultProviderItem
	{
		background-color: #F7F7F7;	    
	    font-size: .95rem;
	    padding: 1rem 0.5rem 1rem 1rem;
	    border-bottom: none;
	    font-weight: 400;

		.col { padding: 0 }

		&.starProvider
		{
			font-weight: 900;
		}
	}

	.productName
	{
		overflow: hidden;
	    text-overflow: ellipsis;
	}

	.moreResultProviderItem:hover 
	{ 
		background-color: $secondary-color ;
		color:white;
		cursor: pointer;
	}
}

#inputAddress
{
    margin: 0;
    text-align: left;
    padding-left: 2.2rem;
    height: 2.4rem;
    width: 100%;
    border-color: #777;
    @include box-sizing(border-box);

    &:focus
    {
    	border-color: $secondary-color;
    }
}

#inputAddress-icon
{
    color: #777;
    height: 2.4rem;
    &:before
    {
    	line-height: 2.4rem;
    }
} 

#inputAddress-container
{
	padding: .5rem;
	text-align: center;
	margin: 0;
}