#directory-content-list
{
	display:none;
	overflow: auto;

	border-left: none;
	height: auto;

	.show-as-map-button
	{
		height: 2rem;
		line-height: 2rem;
		text-transform: none;
		margin-left: 2rem;
	}

	.element-list-title
	{
		display:block;
		position: relative;
		width: 100%;
		line-height: 3rem;
	   text-align: center;
	   color: #F5F3F3;
	   background-color: $secondary-color;	    
	}	

	ul.collapsible
	{
		position: relative;
		padding-bottom: 100px;

		height: calc(100% - 3rem);
		overflow-y: auto;
		margin :0;	

		padding-left: 0rem; padding-right: 0rem;
		@media #{$medium2-and-up} { padding-left: 3rem; padding-right: 3rem; }
		@media #{$large-only} {padding-left: 10rem; padding-right: 10rem; }		

		&.custom-scroll-bar::-webkit-scrollbar {
		    width: 14px;
		}
	}

	.element-item
	{
		//.menu-element { display: none; } 
		// .element-main-icon {display:none}
		// .star-names-icons {display:block}
		.icon-close {display:none}
		.distance{ margin-right: 0;}
	}

	.collapsible-header
	{
		border-bottom: 1px solid #abaaaa;
		background-color: white;
	}

	.collapsible.popout > li
	{ 
		margin: 0;
	}

	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
	}
	
}

