/*
* @Author: Sebastian Castro
* @Date:   2017-03-27 11:57:15
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-03-27 14:57:29
*/
.categories-info
{
	margin-bottom: .5rem;
	font-style: italic;
}
.category-field
{
	@include flexbox();
	@include flex-flow(column wrap);	
	

	&.inline 
	{
		@include flex-flow(row wrap);

		@include align(center);	

		.category-field-select { margin-right : 1rem; }
	}

	.category-field
	{
		margin-left: .5rem;
    padding-left: 1.2rem;
  	border-left: 1px dotted #c3c3c3;
  	margin-bottom: .5rem;
  	margin-top: 1rem;
	}

	.category-field-select
	{
		@include flex(initial);	
		margin: 0;	

    .select-dropdown li.disabled 
    {
		    text-transform: uppercase;
		    font-size: .8rem;
		    font-weight: bold;
		}

		.caret { top: 10px !important;}

		.select-wrapper input.select-dropdown
		{
			height: 2.2rem;
	    line-height: 2.2rem;
	    margin-bottom: 1.5rem;
		}
	}		

	.option-field
	{
		@include flex(initial);
		margin-bottom: 1rem;

		&.inline 
		{ 
			display: inline-block;
			background-color: grey;
			@include border-radius(5px);
			margin-right: .5rem;
			margin-bottom: 0;
			.option-field-name { color: white; }

			.option-field-value
			{
				padding: 3px 6px;

				.icon { display:none; margin-right: .4rem }

				.option-field-delete i { margin-left: 0; color: white;}				
			}
		}

		.icon
		{
			font-size: 19px;
	    margin-top: -1px;
	    float: left;
	    margin-right: .8rem;
		}

		.option-field-value.with-description
		{
			@include flexbox();
			@include flex-flow(row);
			@include justify-content(stretch);
			@include align(center);

			.option-field-name { width : 10rem; @include flex(initial); }
			.option-field-description 
			{ 
				@include flex(1); 
				margin: 0; 
				input { margin: 0 } 
			}
			.option-field-delete { width : 50px; @include flex(initial); }
		}

		.option-field-name
		{
			font-weight: 600;
    	color: #5f5f5f;
		}

		.option-field-delete
		{
			display: inline-block;

			i 
			{ 
				float : right ;
				font-size: 1.2rem;
   			margin-bottom: -4px;
   			margin-left: 1rem;

   			color: #5f5f5f;			
				&:hover { cursor: pointer; color: $primary-color;}
			}
		}		
	}

	
}