{% extends '@BiopenAdmin/pages/page_layout.html.twig' %}

{% block page_title %}Action de masse{% endblock %}

{% block page_content %}

  <div><a class="btn btn-primary" href={{ path('biopen_bulk_actions_detect_duplicates') }}>Détecter les doublon</a></div>
  <div><a class="btn btn-danger" href={{ path('biopen_bulk_actions_delete_element_reported') }}>Supprimer les éléments reportés comme n'existant plus</a></div>
  </br>
  <div><a class="btn btn-default" href={{ path('biopen_bulk_actions_update_json') }}>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Mettre à jour les representations JSON</a></div>
  <div><a class="btn btn-default" href={{ path('biopen_bulk_actions_update_options_string') }}>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Mettre à jour le noms des catégories des éléments (à faire avant un export) </a></div>

  <style>
  .btn { margin-bottom: 10px; }
  </style>
{% endblock %}





