{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 ie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 ie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="fr"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9 ie" lang="fr"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
<title>{% block title %}Mon voisin fait du bio{% endblock %}</title>
<!-- TODO --><meta name="google-site-verification" content="" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
   <!--[if IE]>
     <link rel="stylesheet" href="http://localhost/PagesVertes/web/assets/css/ie_polyfill.css"> 
   <![endif]-->   
  
  {% block stylesheets %}
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Yellowtail" rel="stylesheet"> 
  
<!-- TODO --> <meta name="description" content="" /> 
<!-- TODO --> <meta name="keywords" content="" />
  <meta name="robots" content="index, follow, all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  
</head>
<body>
  {% block body %}
  {% endblock %}

  {% block javascripts %}        
  {% endblock %}

</body>
</html>

{% block modals %}
{% endblock %}