{% extends "::base_layout.html.twig" %}

{% block body %}

	<div id="fond_page">

		{% include "::header.html.twig" %}
		
		<div id="page_content">
			
			{% block body_content %}
			{% endblock %}
			
		</div>
	</div>	

{% endblock %}

