<header>

<nav>
	<div id="menu" class="row ">

		<div class="col menu-item " id="menu-accueil">			
			<a href="{{ path('biopen_homepage') }}">Mon voisin fait du bio</a> 
		</div>
		<div id="menu-actions">
			<div class="col menu-item">
				<a id="btn-menu-listing" >NAVIGATION </a> 
			</div>

			<div class="col menu-item">
				<a id="btn-menu-constellation">CONSTELLATION</a> 
			</div>			

			<div class="col menu-item">
				<a href="{{ path('biopen_fournisseur_add') }}">AJOUT </a>  
			</div>	
		</div>
		
	</div>
</nav> 

</header>