<header>

<nav>
	<div id="menu" class="row ">

		<div class="col s4 valign-wrapper float-text">
			<a class="valign " href="{{ path('biopen_constellation') }}">CONTELLATION</a> 
		</div>

		<div class="col s4 valign-wrapper milieu">
			<a class="valign" href="{{ path('biopen_listing') }}" >LISTE </a> 
		</div>

		<div class="col s4 valign-wrapper">
			<a class="valign" href="{{ path('biopen_fournisseur_add') }}">AJOUT </a>  
		</div>	
		
	</div>
</nav> 

</header>