<header>

<nav>
	<div id="menu" class="row ">

		<div class="col s4 valign-wrapper float-text">
			<a class="valign " id="btn-menu-constellation">CONSTELLATION</a> 
		</div>

		<div class="col s4 valign-wrapper milieu">
			<a class="valign" id="btn-menu-listing" >NAVIGATION </a> 
		</div>

		<div class="col s4 valign-wrapper">
			<a class="valign" href="{{ path('biopen_fournisseur_add') }}">AJOUT </a>  
		</div>	
		
	</div>
</nav> 

</header>