<div id="directory-menu-main-container">

  <div class="directory-menu-header bgdSoftColorAs">		

		<span class="btn-close-menu icon icon-material-design-icons-1"></span>
		{% include '@directory/directory/components/search-bar.html.twig'  %} 	

		<div class="directions-header">
			<h3>Calcul d'itinéraire</h3>
			<span class="icon icon-close btn-close" id="btn-close-directions"></span>
		</div>		
		
		<div class="shadow-bottom"></div>
	</div>	

	<div class="directory-menu-content">

	 	{% include '@directory/directory/components/spinner-loader.html.twig'  
              with {'id': 'directory-menu-spinner-loader' }%}

	 	{% include '@directory/directory/components/directory-menu/filters-menu.html.twig'  %} 

	 </div>

</div>