<div class="subcategory-item" id="menu-title">
	Menu
	<span class="icon-close">
	</span>
	 <div class="shadow-bottom"></div>
</div>

<div id="directory-menu-main-container">
  {#  <form action="#">
    <p class="range-field">
      <input type="range" id="rangeKernelRadius" min="0" max="120" />
    </p>
    <p class="range-field">
      <input type="range" id="rangeClusterRadius" min="0" max="120" />
    </p>
  </form> #}

  <div class="directory-menu-header">		

		{% include '@directory/directory/components/search-bar.html.twig'  %} 	

		<div class="directions-header">
			<h3>Calcul d'itinéraire</h3>
			<span class="icon icon-close" id="btn-close-directions"></span>
		</div>		
		

	</div>
	<div class="shadow-bottom"></div>

	 <div class="directory-menu-content">

	 	{% include '@directory/directory/components/spinner-loader.html.twig'  
              with {'id': 'directory-menu-spinner-loader' }%}

	 	{% include '@directory/directory/components/directory-menu/filters-menu.html.twig'  %} 

	 </div>

</div>