<div class="directory-menuTitle" id="menu-title">
	Menu
	<span class="icon-close">
	</span>
	 <div class="shadow-bottom"></div>
</div>

<div id="directory-menu-main-container">
  {#  <form action="#">
    <p class="range-field">
      <input type="range" id="rangeKernelRadius" min="0" max="120" />
    </p>
    <p class="range-field">
      <input type="range" id="rangeClusterRadius" min="0" max="120" />
    </p>
  </form> #}

  <div class="directory-menu-header">

		{% include '@directory/directory/components/search-bar.html.twig'  %} 

		<li class="productItem collapsible-header row"  id="filter-favorite">
			    <span class="icon icon-star-full"></span>
			    <span class="productName">Favoris</span> 
			    <span class="product-checkbox-wrapper">
			      <input type="checkbox" class="filled-in favorite-checkbox " id="product-checkbox-favorite" data-type='favorite' data="favorite" />
			      <label for="product-checkbox-favorite" data-position="right" data-delay="0" data-tooltip="Afficher uniquement les favoris"></label>
			    </span>
		</li>

		<div class="shadow-bottom"></div>

	</div>

	 <div class="directory-menu-content">

	 	{% include '@directory/directory/components/directory-menu/filters-menu.html.twig'  %} 

	 </div>

</div>