{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% set pageName = 'register with-section' %}
{% set navTitle = 'commons.register'|trans %}

{% block body_content %}
    <h1 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h1>

    <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register simple-form form-horizontal">

        <section>
            <div class="error">{{ form_errors(form) }}</div>

            <div class="error">{{ form_errors(form.username) }}</div>
            <div class="input-field col s12">
                <i class="material-icons gogo-icon-account-circle prefix"></i>
                {{ form_widget(form.username, {'id': 'input-username', 'attr': {'class': 'validate required'}}) }}
                <label for="input-username" class="gogo-form-label">{{ "commons.username"|trans }}</label>
            </div>

            <div class="error">{{ form_errors(form.email) }}</div>
            <div class="input-field col s12">
                <i class="material-icons gogo-icon-mail prefix"></i>
                {{ form_widget(form.email, {'id': 'input-email', 'attr': {'class': 'validate required'}}) }}
                <label for="input-email" class="gogo-form-label">{{ "commons.email"|trans }}</label>
            </div>

            <div class="error">{{ form_errors(form.plainPassword.first) }}</div>
            <div class="input-field col s12">
                <i class="material-icons gogo-icon-lock prefix"></i>
                {{ form_widget(form.plainPassword.first, {'id': 'input-plainPassword-1', 'attr': {'class': 'validate required'}}) }}
                <label for="input-plainPassword-1" class="gogo-form-label">{{ "commons.password"|trans }}</label>
            </div>
            <div class="error">{{ form_errors(form.plainPassword.second) }}</div>
            <div class="input-field col s12">
                <i class="material-icons gogo-icon-lock prefix"></i>
                {{ form_widget(form.plainPassword.second, {'id': 'input-plainPassword-2', 'attr': {'class': 'validate required'}}) }}
                <label for="input-plainPassword-2" class="gogo-form-label">{{ "commons.check_password"|trans }}</label>
            </div>
        </section>
        <div class="divider"></div>
        <section>
            <h2 class="optional">Optionnel</h2>
            <p class="newsletter-explanation gogo-neutral">{{ "commons.newsletter-explanation"|trans }}</p>

            {{ form_widget(form.newsletterFrequency, { 'id': "select-newsletterFrequency"}) }}

            <div class="error" style="margin-top: 15px">{{ form_errors(form.location) }}</div>
            <div class="input-field col s12">
                <i class="material-icons gogo-icon-marker-symbol prefix"></i>
                {{ form_widget(form.location, {'id': 'input-location', 'attr': {'class': 'validate'}}) }}
                <label for="input-location" class="gogo-form-label">{{ "commons.location"|trans }}</label>
            </div>

            {#<i class="material-icons gogo-icon-filters-1 range-icon-prefix"></i>
            <div class="range-field col s12">
                <label class="gogo-form-label active">Rayon de recherche en kilomètres</label>
                {{ form_widget(form.range, {'id': 'input-range'}) }}
            </div>#}

            {{ form_rest(form) }}

            <div class="form-actions">
                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
            </div>
        </section>


    </form>

{% endblock body_content %}
