# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    csrf_protection: true

    oauth_communs_id: communsIds
    oauth_communs_secret: communsSecret
    oauth_google_id: googleId
    oauth_google_secret: googleSecret
    oauth_facebook_id: facebookId
    oauth_facebook_secret: facebookSecret

    router.request_context.host: localhost/GoGoCarto/app_dev.php
