services:
    sonata.block.service.monitoring:
        class: Biopen\GeoDirectoryBundle\Block\MonitoringElementsBlockService
        arguments: [ @templating, @doctrine.odm.mongoDB.document_manager ]
        tags:
            - { name: sonata.block }

    sonata.block.service.charts:
        class: Biopen\GeoDirectoryBundle\Block\ChartBlockService
        arguments: [ @templating, @doctrine.odm.mongoDB.document_manager, @biopen.config_service ]
        tags:
            - { name: sonata.block }

    biopen.block.recent_elements:
        class: Biopen\GeoDirectoryBundle\Block\RecentElementsBlockService
        arguments: [ @templating, @doctrine.odm.mongoDB.document_manager, @sonata.admin.pool ]
        tags:
            - { name: sonata.block }
