<div id="section_vos_infos">
	<h2 id="informations-title">Validation</h2>

	<div class="col s12">			
		<input type="checkbox" name="agree" id="agree"/>
		<label id="label-agree" for="agree">Vous vous engagez à fournir des informations exactes, et certifiez que {{ config.elementDisplayNameDefinite }} respecte la charte de "{{ config.appName }}"</label>
	</div>

	{# Hidden usermail input #}
	{{ form_widget(form.contributorMail, {'id': 'inputMail', 'value' : user_email }) }}		

</div>