<div id="section_vos_infos">
	<h2 id="informations-title">Validation</h2>

	<div class="col s12 checkbox-container" {{ config.elementFormValidationText ? '' : 'style="display:none"'}}>			
		<input type="checkbox" name="agree" id="agree" {{ config.elementFormValidationText ? '' : 'checked'}}/>
		<label id="label-agree" for="agree">{{ config.elementFormValidationText | raw }}</label>
	</div>  

</div>