#search-bar-icon
{
	position: absolute;
  left: 1.2rem;
  line-height: 3rem;
  font-size: 1.2rem;
  color: #BDBDBD;

  &:hover
  {
  	color: $secondary-color;
  	cursor: pointer;
  }
} 

#search-bar
{
	text-align: center;
	text-transform: capitalize;
	padding: 0 .5rem 0 .5rem;
	border: 3px solid #BDBDBD;
	box-shadow: none !important;
	@include border-radius(10px);

	&.invalid
	{
		border-color: $error-color !important;
	}

    &::-webkit-input-placeholder { 
		color: #BDBDBD;
	}
	&::-moz-placeholder { 
		color: #BDBDBD;
	}
	&:-ms-input-placeholder { 
		color: #BDBDBD;
	}
	&:-moz-placeholder { 
		color: #BDBDBD;
	}

	&::selection {
  		background: $secondary-color; 
  		color: white;
	}
	&::-moz-selection {
  		background: $secondary-color; 
  		color: white;
	}

    &:focus
    {
    	border-color: #6B6B6B;
    }    
}

.search-options
{
	padding: 0 .7rem;	
  padding-bottom: .7rem;

	label.search-option-radio-label 
	{
    color: #ececec;    
    font-size: .9rem;
    line-height: 2rem;
    padding-left: 27px;
    margin-right: 13px;


    &:before
    {
    	border: 2px solid #e0e0e0;
    	top: 3px;
	    width: 14px;
	    height: 14px;
    }

    &:after
    {
    	border: 2px solid #dedede;
  		background-color: #dedede;
  		top: 3px;
	    width: 14px;
	    height: 14px;
    }
	}

	.search-btn
	{
		float: right;
		font-size: .85rem;
    background-color: #dddddd;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #272626;
    padding: 0 15px;
	}

	#search-spinner-loader
	{
		height: 12px;
    width: 12px;
    top: 1px;
    margin-left: 5px;
		.spinner-layer { border-color: #5d5d5d; }
		.circle-clipper .circle { border-width: 2px; }
	}
}

