@import '../../commons/search-bar';
@import 'leaflet-routing-machine';
@import 'filter-menu/filter-menu';
@import 'directory-menu-directions';

#directory-menu
{
	@include box-shadow(4px 0 2px rgba(0, 0, 0, 0.2), -1px 0 2px rgba(0, 0, 0, 0.2));

	z-index: 200;
	overflow-y:hidden; 

	@media #{$medium-and-up} 
	{
		overflow: visible;
	}

	#directory-menu-main-container
	{
    @include flexbox();
    @include flex-flow(column);
    width: 100%;
    
  	@media #{$medium-and-up} 
  	{
  		height: 100%;
      background-color: #272626;
  		//overflow-y: hidden;
  	}

    .directory-menu-header
    {      
      width: 100%;
      position: relative;
      background-color: $primary-color;

      .btn-close-menu 
      { 
        color:white;
        position: absolute;
        z-index: 20;
        top: 7px;
        left: 8px;
      }      

      @include transition(all .5s);

      @media #{$medium-and-up} 
      {
        width: 103%;
        border-radius: 0 0 5px 5px;

        .btn-close-menu { display:none }
      }
    }

    .shadow-bottom { bottom: -8px; }  	

    .directory-menu-content
    {     
      @include flexbox();
      @include flex(1 auto);

      #directory-menu-spinner-loader
      {
        top: 40%;
        left: 40%;
        position: absolute;
        display: none;
      }    
    }      		
	}
}

#search-bar
{
  margin: 0;
  text-align: left;
  padding-left: 2rem;    
  height: 2rem;
  border: none;
  width: 100%;
  background-color: white;
  @include border-radius(5px);
  @include box-sizing(border-box);

  &:focus
  {
  	border-color: $secondary-color;
  }
}

#search-bar-icon
{
  color: #777;
  height: 2rem;
  line-height: 2rem;

  &:before
  {
  	line-height: 2rem;
  }

  @media #{$small-only} { left: 3.5rem; }
} 

#search-bar-container
{
	height: 3.5rem;
  padding: .7rem;
	text-align: center;
	margin: 0;
	padding-bottom: 0;
  padding-left: 3rem;

  @media #{$medium-and-up} { padding-left: .7rem; }
      
}

#search-distance-component
{
	margin: 0rem .8rem 0 .8rem;

	#search-distance-container
	{
    display: inline-block;
  	width: calc(100% - 55px);

		#search-distance-input
		{
			border: none;
		}
	}

	#search-distance-value-container
	{
		float: right;
  	line-height: 2.3rem;
  	width: 55px;
  	text-align: right;
	}
}

#menu-title 
{
  background-color: $primary-color;
  line-height: 2.5rem;
  padding-right: 1.5rem;
  font-weight: 500;
  text-align: center;
  display:none;

  > .icon-close
  {
    float: right;
    position: absolute;
    top: .2rem;
    font-weight: 100;
    font-size: 1.2rem;
    right: 1.3rem;

    &:hover { cursor: pointer }
  }

  @media #{$medium-and-up} 
  {
    display:none;
  } 
}
