/*
* @Author: Sebastian Castro
* @Date:   2017-03-02 20:08:08
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-05-18 11:34:58
*/
#directory-menu #directory-menu-main-container.directions
{
	background-color: #f7f7f7;

  .directory-menu-header
	{
    width: 100%;   
    border-radius: 0;  

		.directions-header 
		{ 
			display : block; 

			h3
			{
				font-size: 1rem;
        text-align: left;
        text-transform: uppercase;
        padding-left: 1rem;
        color: white;
        font-weight: 600;
        line-height: 3rem;
        margin: 0;
			}      
		}
	}

	.directory-menu-content .filter-menu { display : none; }

	.directory-menu-content 
  {     
    #directory-menu-spinner-loader { display: block; }
  }  
}

#directory-menu #directory-menu-main-container 
{
  .directions-header { display : none; position: relative }
}