{% extends "@UserBundle/layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel panel-success">
        L'utilisateur a été créé avec succès, vous pouvez continuer à naviguer sur le site !
    </div>

{% endblock fos_user_content %}