{% extends "@BiopenCoreBundle/bundle-layout.html.twig" %}

{% block title %}
	{% if editMode %} Edition
	{% else %}  Ajout d'un Acteur
	{% endif %}
{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

 	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="{{ asset('assets/css/element-form.css') }}">
 	<link rel="stylesheet" href="{{ asset('assets/css/base_directory.css') }}"> 

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	{% for flash_message in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flash_message | raw }}
	    </div>
	{% endfor %}
  
  {% if not editMode %}<h1 id="element-form-title">Ajout d'un acteur</h1> {% endif %}

  {% include "@directory/element-form/form.html.twig" with {'editMode': editMode } %}

{% endblock %}





