
{{ form_start(form, {'id': 'formElement'}) }}   

<div id="element-form-content">

	<section id="section-categories-options">
		<div class="categories-info neutral-color">Choississez la ou les catégories par ordre d'importance</div>
		{% include '@BiopenGeoDirectory/element-form/form-partials/category-field.html.twig' with { 'category' : mainCategory } %} 
		<input id="options-values" name="options-values" type="hidden"/>
	</section>
	<div class="divider"></div>

	{% include "@BiopenGeoDirectory/element-form/form-partials/generals-info.html.twig" %}	

	{% include "@BiopenGeoDirectory/element-form/form-partials/open-hours.html.twig" %}

	<section id="section-validate-and-send">
		{% if not is_granted('ROLE_ADMIN') %}
			{% include "@BiopenGeoDirectory/element-form/form-partials/user-validation.html.twig" %}	
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			{% include "@BiopenGeoDirectory/element-form/form-partials/admin.html.twig" %}	
		{% endif %}
		
		{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<div style="text-align:center">Marre des captcha ? créez un compte !</div>
			<div id="captcha-error-message" style="color: #c22525;">Vous devez cocher la case ci-dessous</div>
			<div id="captcha" class="col s12"></div>
		{% endif %}

		<input type="hidden" id="submit-option" name="submit-option" />
		<center>
			<button onclick="checkAndSend('backtomap')" id="element-form-submit-btn" type="button" class="btn element-form-submit-btn waves-effect waves-light">Envoyer</button>
			{% if is_granted('ROLE_ADMIN') %}
				<button onclick="checkAndSend('stayonform')" type="button" class="btn element-form-submit-btn waves-effect waves-light">Envoyer et rester sur le formulaire</button>
			{% endif %}

			{% if editMode %}
				<button onclick="history.back()" id="element-form-cancel-btn" type="button" class="btn btn-neutral element-form-cancel-btn waves-effect waves-light">Annuler</button>
			{% endif %}
		</center>
  </section>

	{{ form_rest(form) }}

{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}

{% block modals %}

	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>

{% endblock %}



	