{% for field in config.getElementFormFields %}
  {# TEXT #}
  {% if field.type == "text" or field.type == "title" or field.type == "textarea" %}
    {% include '@BiopenGeoDirectory/element-form/form-partials/text.html.twig' %}      
  {# SELECT #}
  {% elseif field.type == "select" %}
  {# HEADER #}
  {% elseif field.type == "header" %}
    <h2>{{ field.label }}</h2>
  {# PARAGRAPH #}
  {% elseif field.type == "paragraph" %}
    <p>{{ field.label }}</p>
  {# CHEKCBOX #}
  {% elseif field.type == "checkbox-group" %}
  {# RADIO #}
  {% elseif field.type == "radio-group" %}
  {# NUMBER #}
  {% elseif field.type == "number" %}
  {# TAXONOMY #}
  {% elseif field.type == "taxonomy" %}
    {% include '@BiopenGeoDirectory/element-form/form-partials/taxonomy.html.twig' %}
  {# OPENHOURS #}
  {% elseif field.type == "openhours" %}
    {% include "@BiopenGeoDirectory/element-form/form-partials/open-hours.html.twig" %}
  {# ADDRESS #}
  {% elseif field.type == "address" %}
    {% include '@BiopenGeoDirectory/element-form/form-partials/address.html.twig' %}
  {# SEPARATOR #}
  {% elseif field.type == "separator" %}
    </section>
    <div class="divider"></div>
    <section>
  {% else %}
    <div>{{ field.type }}</div>
  {% endif %}
{% endfor %}