{{ form_start(form, {'id': 'formElement'}) }}   

<div id="element-form-content">
	<section>
		{% include "@BiopenGeoDirectory/element-form/form-custom-fields.html.twig" %}	
	</section>

	{% include "@BiopenGeoDirectory/element-form/form-partials/validate-and-send.html.twig" %}

</form>

{% block modals %}
	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>
{% endblock %}



