.element-item
{
	list-style-type: none;	

	h3
	{
		font-size: 1rem;
    font-weight: 600;
    padding-left: 0.75rem;
    margin-bottom: 0;
    padding-top: 1rem;
  	margin-top: 0;
	}		

	.btn
	{
		height: 2rem;
    	line-height: 2rem;
    	padding: 0 1rem;
    	margin-bottom: 1rem;
	}
	
	.collapsible-header
	{
		padding: .5rem;
		@media #{$medium-and-up} { padding: .5rem 1rem; }
		i { margin-right: 0; padding-left: 0.3rem; }

		.collapsible-header-title 
		{ 		
			position: relative;
			margin-bottom: 0rem; 
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 2rem;
    		margin: .5rem 0;
			font-weight: bold;

			.distance 
	    { 
	        float: right; 
	        margin: 0 1rem;
	    }   

			/* @extend .colorAs; */
		}

		.collapsible-header-more 
		{ 
			line-height: 1.5rem; 
			margin-bottom: .5rem;

			.products 
			{ 
			    font-weight: bold;
			    color: #525252;
			    font-style: italic;

			    .product.disabled { color: #9C9C9C; font-weight: normal; }
			}
			.description
			{
			    margin-bottom: .7rem;
			    text-align: justify;
			}
		}
	}

	@media #{$medium-and-down} 
	{ 
		.collapsible-header { background-color: white !important; } 
	}	
	
	.collapsible-body
	{
		background-color: #F7F7F7;
		padding: 0;
		overflow-y: auto;
		position: relative;

		.collapsible-body-main-content
		{
			padding: 0 0rem 1rem .5rem;
			@media #{$medium-and-up} { padding: 0 1rem 1rem 1rem }
		}

		h2
		{
		  font-weight: bold !important;
		  font-size: 1rem !important; 
		  line-height: 110% !important;
		  margin: 0.5rem 0 .8rem 0 ;
		}
		.row { margin-bottom: 0 }
		.section{ /* padding-bottom: 0; */ }
		.categorie,.adresse, .tel
		{
			/* padding-left: 1.3rem; */
		}
		/* .categorie { text-decoration: underline; } */
		.description{ text-align: justify; }

		.section.categories
		{
			h3 { margin-bottom: 1rem; }
		}

		.category-wrapper 
		{
			.strong { text-decoration: underline }	

			// a category inside an other, so we add margin
			.category-wrapper 
			{
				margin-left: 1.2rem;
    		padding-left: .5rem;
	    	border-left: 1px dotted #c3c3c3;
	    	margin-bottom: .5rem;

	    	// underline juste first option in option Tree
	    	.strong { text-decoration: none !important }	
			}

			.category-name 
			{ 
				text-transform: uppercase;
		    padding-left: .8rem;
		    font-weight: 600;
		    font-size: .85rem;
		    padding-bottom: .5rem;
			}

			.option-name 
			{
				text-decoration:inherit ;
				&.main-option { font-weight : bold }
			}

			.inline-option 
			{ 
				font-style: italic;
				span.disabled { color: #9C9C9C; }
			}

			.option-description 
			{ 
				padding: .5rem; 
				text-decoration:inherit; 
				font-style: italic;
		    font-size: .9rem;
		    color: #5d5d5d;

				&.disabled { color: #9C9C9C; }				
			}
			
			.option-value
			{ 
				line-height: 2.5rem; 
				text-decoration:inherit;
				padding-left: .6rem;
  			padding-right: 0;

  			.icon 
  			{ 
  				font-size: 20px; 
  				&.icon-marker { font-size : 19px } 
  				&.disabled { color:#BFBFBF !important; }
  			}  			

  			&.disabled { color: #9C9C9C !important; }
			}


		}		
	}
}

@media #{$large-only}
{
	#element-info-bar .element-item
	{
		.collapsible-header
	    {	        
	        //background-color: $secondary-color;//$submenu-color;
	        color: white;
	        cursor: default;

	        position: absolute;
	        width: 100%;
	        top: 0;

	        .collapsible-header-title
	        {
	            position: relative;
	            margin-bottom: .8rem;
							line-height: 3rem;
	            font-weight: normal;

	            .distance { font-size: 1.3rem; }
	            .icon-close { font-size: 1.5rem; margin-top: 0; }
	        }

	        .name { font-size: 1.8rem; }
	        .name, .description { width: 100% !important; text-align: left}
	        .description { margin-bottom : 0;  }
	    }

	    .collapsible-body
	    {
	        margin-top: 6rem;
	        margin-bottom: 3rem;
	        height: 100%;
	        overflow-y: auto;
	    }
	    .collapsible-body-url //Added this body to display the URL
		{
			background-color: #F7F7F7;
			font-size: 0.9rem;
			position: relative;
			overflow-y: auto;
			.disabled { color:#9C9C9C; }
		}
	}	
}








