.menu-element
{
	//background-color:$submenu-color;	
	//background-color:$secondary-color;	
	@extend .bgdSoftColorAs;
	position: absolute;
	bottom: 0;
	width: 100%;

	.menu-icon
	{
		font-size: 20px;
		color: #CECECE;
		margin: 0 1rem;

		&.icon-favorite { font-size: 18px; }

		&:hover
		{
			color: white;
			cursor: pointer;
		}
		&:before
		{
			line-height: 2.3rem;
		}

		@media #{$medium-and-up} 
		{
			font-size: 22px;

			&.icon-favorite { font-size: 20px; }

			&:before
			{
				line-height: 3rem;
			}
		}
	}

	.icon-star-full:before
	{
		padding: 2px;
		padding-bottom: 3px;
		border: none;
	}	
}

#directory-content-list
{
	.menu-element 
	{
		position: relative;
	}
}