/*
* @Author: Sebastian Castro
* @Date:   2017-05-11 11:26:03
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-05-11 11:26:11
*/
.interactive-section
{
	background-color: $primary-color;//#4a8680;
	padding: 0 1rem 0 .8rem;
	@media #{$medium-and-up} { padding: 0 1rem 0 1.6rem; }
	// border-top: 1px solid #565656;
	// border-bottom: 1px solid #797979;
	position: relative;
	line-height: 3rem;

	.result-message
	{
		text-align: center;
	  font-weight: bold;
	  color: white;
	  line-height: 1.7rem;
    padding: .6rem 0;
	}
}