@import '../../../CoreBundle/Resources/scss/partials/base';
@import '../../../CoreBundle/Resources/scss/partials/header';

@import 'vendors/leaflet';
@import "vendors/marker-clusterer";

@import "components/directory/helpers-bars";
@import "components/directory/loaders";
@import "components/directory/directory-menu/directory-menu";

@import 'components/directory/icons';

@import 'components/directory/map/marker';
@import "components/directory/map/cluster";
@import "components/directory/map/directions";
@import "components/directory/map/map";
@import "components/directory/map/map-controls";

@import "components/directory/element-list";

@import "components/directory/info-bar/info-bar";
@import "components/directory/info-bar/element-menu";
@import "components/directory/info-bar/element-info";

@import "components/directory/modals/delete-element";
@import "components/directory/modals/modals";

@import "components/commons/shadow-bottom";
//@import "components/commons/search-bar";
@import "components/commons/auto-complete";

#directory-menu
{
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;  
    @include transition(height .5s);   

    @media screen and (min-width: 400px)
    {
        width: 200px;
    }
}

#page-content { height: 100% ; background-color: #dfdfdf }

#directory-container { position: relative; height: 100% }   

#directory-content
{
    position: relative; 
    height: 100%;   
    background-color: #9e9e9e;
    overflow: hidden;
}

@media #{$medium-and-up} 
{
    #directory-menu
    {
        display: block !important;  
        width: 22rem;     
    }

    #directory-content
    {
        margin-left: 22rem;
    }
} 