@import '../../../CoreBundle/Resources/scss/partials/base';

@import 'vendors/timepicki';
@import 'vendors/leaflet';

@import "components/commons/auto-complete";
@import "components/element-form/category-field";

#page-content.element-form
{
  max-width: 700px !important;
} 

i.material-icons {
    top: 4px;
    &.openhours-icons { line-height: 3.5rem; }
}

.input-field.error .prefix.active
{
  color: $error-color !important;
}

.input-field label
{
  left: 0 !important;
}

#input-address ~ .prefix.error
{
  &:before
  {
    content: "Impossible de localiser cette adresse";
  }
}

.input-field .prefix 
{ 
  color: #585858 ;

  &.valid { color: $secondary-color }
  &.invalid { color: $error-color }
}

#input-description { padding-bottom: 0 !important;}


#section-validate-and-send
{
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

#section_vos_infos
{
  padding-bottom: 1rem;
}


#element-form-title
{
   
   margin-bottom: 5px !important;
  @media screen and (min-width: 600px) { margin-bottom: -10px !important; }
}

#input-website
{
  margin-bottom: 2rem;
}

#type-element-label.error, .error
{
  color: $error-color !important;
}

#section_element
{
  margin-bottom: 0px;
  height: 8rem;
}

#section_products
{
  .dropdown-content
  {
    max-height: 350px;
  }

  input[type="checkbox"].readonly  + label:before
  {
      border-right: 2px solid #aaa;
      border-bottom: 2px solid #aaa;
  }
}


#other-selling-point
{
  margin-left: 42px;
  display:none;
  color: rgba(0, 0, 0, 0.85);
  font-style: italic;
  font-size: 0.92rem;
}

#captcha > div 
{
    margin: 0 auto;
    margin-bottom: 1rem;
}

#captcha-error-message
{
  display:none;
  text-align: center;
  margin: .5rem 0;
}
    

.rc-anchor
{
  @include box-shadow-1(none);
}

.rc-anchor-light
{
  border: none !important;
}

// ---------------------------------------
//             GOOGLE MAP
// ---------------------------------------
#address-preview-map
{
  height:13rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  z-index: 500;
  //border: 2px solid #D0CCCC;
}

// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     //background:none !important;
// }


// ---------------------------------------
//             TYPE PRODUIT
// ---------------------------------------
[type="checkbox"] + label {
    padding-left: 26px;
}

@media screen and (min-width: 600px)
{
  [type="checkbox"] + label {
      padding-left: 32px;
  }
}

#section_vos_infos 
{
  margin-bottom: 0;
}

#section_vos_infos  [type="checkbox"] + label
{
    padding-left: 42px;
    &:before {
      left: 4px;
    }
}

#precisions
{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label_precision
{
  color:#5A5959 !important;
  font-weight: bold !important;
}


// ---------------------------------------
//               HORAIRES
// ---------------------------------------
.horaire_2 {
    display: none !important;
    @include transition(all 1s);
    opacity: 0; 
    height: 0;
}

.horaire_2.active {
    opacity: 1;
    display: flex !important;
    height: 100%;

}

.open-hours-day
{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.open-hours-container
{
  padding-bottom:0.8rem;  
  padding-left: .5rem;
}

.open-hours-container.impair
{
  background-color: #EFEFEF;
}

.timepicker_1, .timepicker_2, .timepicker_3, .timepicker_4
{
  height: 2rem !important;
  margin: 0 !important;
}

.btn-floating i {
  color: rgb(52, 52, 52) !important;
}

.col
{
  padding: 0 !important;
}

.add-time-slot-button:hover, .redo-time-slot-button:hover, .clear-time-slot-button:hover
{
  color: $secondary-color;
  @include transition(color 0.5s);
}

@media only screen and (max-width: 500px)
{
  .modal 
  {
      width: 90% !important;
  }
}


















