/*
* @Author: Sebastian Castro
* @Date:   2018-03-18 13:48:38
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-03-28 12:41:22
*/
#page-content.user-profile 
{
  .input-field .prefix~label {
    margin-left: 2.2rem;
  }

  .separator {
    padding-top: .8rem;
  }

  .newsletter-explanation {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  button[type=submit] {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  #address-preview-map
  {
    height:13rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    z-index: 500;
    //border: 2px solid #D0CCCC;
  }

  a.leaflet-control-zoom-in {
      font-size: 18px !important;
      color: #3d3d3d;
  }

  a.leaflet-control-zoom-out {
      font-size: 25px! important;
      font-weight: normal;
      color: #3d3d3d;
      text-indent: 0;
  }
}