<!-- Pop up page A propos-->

{% for about in listAbouts %}

	{% include '@BiopenCoreBundle/modals/pageModal.html.twig'  
            						with {'id' : about.id, 'title': about.name, 'content': about.content } %}

{% endfor %}

{% set voteContent = "<p>
Lorsqu'un acteur est ajouté ou modifié, la mise à jour des données n'est pas instantanée. L'acteur va d'abords apparaître \"grisé\" sur la carte,
et il sera alors possible à tous les utilisateurs logué de voter une et une seule fois pour cet acteur. Ce vote n'est pas une opinion, mais un partage de connaissance. Si vous connaissez cet acteur, ou au contraire vous savez que cet acteur n'existe pas ou ne respecte pas la charte de \"Près de chez nous\", alors votre savoir nous intéresse !</p> 
<p>
Au bout d'un certain nombre de votes, l'acteur pourra alors être automatiquement validé ou refusé. En cas de litige (des votes à la fois positifs et négatifs), un modérateur de \"Près de chez nous\" interviendra au plus vite. On compte sur vous!
</p>
" %}

{% include '@BiopenCoreBundle/modals/pageModal.html.twig'  
            						with {'id' : 'vote', 'title': "Modération collabortive", 'content': voteContent} %}