{% extends "::base_layout.html.twig" %}

{% block title %}Pages Vertes {% endblock %}

{# Stylessheets #}
{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body %}
	
	<h1>Bienvenue sur Pages Vertes</h1>
	<div class="input-field"> 
		<input class="validate" placeholder="Entrez votre adresse ici" type="text" id="inputAdresse" name="adresse"/>
	</div>
	
	<div class="row">
		<div class="col s4">
			<button id="btn_constellation" class="btn-flat waves-effect waves-light">Constellation</button>
		</div>

		<div class="col s4">
			<button id="btn_listing" class="btn-flat waves-effect waves-light">Liste</button>
		</div>
	
		<div class="col s4">
			<a href="{{ path('biopen_fournisseur_add') }}">
				<button class="btn-flat waves-effect waves-light">Ajouter Fournisseur</button>
			</a>
		</div>
	</div>
{% endblock %}



{% block javascripts %}

	{% javascripts filter="?jsqueeze"
		'bundles/fosjsrouting/js/router.js'
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/index.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
	</script>

{% endblock %}

