<ul>

{% include '::Components/inputAddress.html.twig'  %} 

<li class="productListTitle">
  Emplacements
</li>

{% set providerTypes = ['marche', 'epicerie', 'boutique'] %}
{% for type in providerTypes %}    
    {% if type in constellationPhp.stars|keys %}
        {% set star = constellationPhp.stars[type] %}
        {% include '::Core/starInProductList.html.twig' 
                  with {'star':star, 'starName':type} only %} 
    {% else %}
        <li class="row collection-item collapsible-header productItem disabled">
          <span class="icon disabled icon-{{type}}"></span>
          <span class="productName">{{ type|capitalize }}</span>
          <span class="resultNumber">0</span>
        </li>
    {% endif %}

{% endfor %}

<li class="productListTitle">
  Produits
</li>

{% for key, product in constellationPhp.listProductsProvided %} 

    {% set star = constellationPhp.stars[product.nameFormate] %}
    {% include '::Core/starInProductList.html.twig' 
      with {'star':star, 'starName':product.nameFormate} only %} 

{% endfor %} 



<ul class="collection">
{% for key, product in constellationPhp.listProductsNonProvided %} 
  
  <li class="row collection-item collapsible-header productItem disabled">

    <span class="icon disabled icon-{{product.nameFormate}}"></span>
     <span class="productName">{{ product.nameShort|capitalize }}</span>

    <span class="resultNumber">0</span>

  </li>

{% endfor %}  
</ul>




