//google map autocomplete
.pac-icon{ display: none;}
.pac-item
{ 
	margin-left: 1rem;
	margin-right: 1rem;
	height: 2rem;
	font-family: "Roboto";
}

.pac-container
{
	z-index: 30000;
	border-radius: none;
	border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pac-container:after 
{
    background-image: none !important;
    height: 0px;
}