.menu-element
{
	height: 3rem;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;

	@media #{$large-only} { height: auto; }

	.menu-element-item-text { display: none; }

	&.full-text
	{
		padding: .5rem 0 .8rem 0;

		.menu-element-item-text
		{
			display: inline;
			text-transform: uppercase;
			font-size: 0.85rem;
			line-height: 3rem;
    	margin-left: .5rem;

			&.favorite { color : rgb(255, 171, 0); }
		}

	}

	.menu-element-item
	{
		display: inline-block;
		color: #CECECE;
		margin: 0 1rem;

		&:hover
		{
			color: white;
			cursor: pointer;
		}

		.menu-icon
		{
			font-size: 20px;	
			float: left;			

			&.icon-favorite { font-size: 18px; }

			
			&:before
			{
				line-height: 2.8rem;
			}

			@media #{$medium-and-up} 
			{
				font-size: 22px;

				&.icon-favorite { font-size: 20px; }

				&:before
				{
					line-height: 3rem;
				}
			}
		}

		.icon-star-full:before
		{
			padding: 2px;
			padding-bottom: 3px;
			border: none;
		}	

		
	}
}

#directory-content-list
{
	.menu-element 
	{
		position: relative;
	}
}