/*
* @Author: Sebastian Castro
* @Date:   2017-04-03 16:26:54
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-04-03 17:02:23
*/
.flash-message
{
    padding: .5rem;
    text-align: center;
    
    background-color: #4a7874;
    color: #fff;

    border-bottom: 2px solid #37504e;

    .btn-close
    {
    	color: white;
	    font-size: 20px;
	    margin: 0 1rem;
	    position: absolute;
	    right: 0;

	    &:hover { color: $primary-color; cursor: pointer;}
    }
    
}