#modal-pick-address.modal, #modal-directions-fail.modal
{
    position: absolute;
}  

.simple-modal.modal
{
  z-index: 2000;
  max-width: 1200px;
  top: 30% !important;
  max-height: 80%;
  position: absolute !important;

  h5 { margin-bottom: .5rem; }

  .modal-content
  {
    padding-bottom: .8rem !important;

    .modal-error-msg
    {
      display: none;
      color: $error-color;
    }
  }

  .modal-footer
  {
    padding-right: 2.5rem;
    background-color: #444;

    .modal-action
    {
      
      color: white;      
      font-size: .9rem;
      padding: 0 25px;

      &.btn
      {
        background-color: #de5a5f;
        &:hover{ background-color: #ec787d }
      }
    }
  }

  .input-simple-modal
  {
    &:focus
    {
      border-color: $secondary-color; 
      box-shadow: none;
    }

    &::selection {
      background-color: $secondary-color; 
        color: white;
    }
    &::-moz-selection {
      background-color: $secondary-color; 
        color: white;
    }
  }
}

// vote and report-error modals
.modal.action-modal
{
  h5 
  {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
  }

  .elementName
  {
    font-style: italic;
    font-size: 1.5rem;
  }

  .error
  {
    display:none;
    color: $error-color;
  }

  .option-radio-label
  {
    margin-top: .5rem;
    display: block !important;
    height: auto !important;
  }
}


#too-many-markers-modal
{
	display:none;
	position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 45%;
    width: 50%;
    max-width: 500px;
    padding: .5rem;
    margin: 0 auto;
    text-align: center;
    z-index: 50;
    background-color: #4b7975;
    color: white;
    border: 2px solid #335250;
	border-radius: 10px;
	@extend .z-depth-2; 
}