#directions-result-container
{
    display:block;
    z-index: 20;    
    text-align: center;
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    padding: 1rem 2.5rem 1rem 1rem;
    background-color: $primary-color;
    color: white;

    @include transition(margin-right .5s);
}

#markerDirectionResult
{
    text-align: center;
    position: relative;
    z-index: 10000;
    width: auto;
    padding: .5rem;
    margin-top: -10px;
    font-size: .9rem;

    .duration
    {
        font-weight: bold;
    }

    @extend .z-depth-2;
}

.arrow_box {
    position: relative;
    background: #eeeeee;
    border: 1px solid #a8b6a0;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #eeeeee;
    border-width: 7px;
    margin-left: -7px;
}
.arrow_box:before {
    border-color: rgba(168, 182, 160, 0);
    border-top-color: #a8b6a0;
    border-width: 8px;
    margin-left: -8px;
}