#directory-content-map
{   
    position: relative;
    z-index: 10;
    @media #{$medium-and-down} { margin-right: 0 !important; }
    @include flex(1 auto);
    //@include transition(height .5s);
    @include box-shadow-1(inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75)  );
}
#overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    will-change: opacity;
}