/* $icons-layout: smart; 
$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites(true);  */
@import "partials/base_bundle";
@import 'vendors/materialize';

@import "partials/section-carte";
@import "partials/infoFournisseur";

#FournisseurList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

#FournisseurList::-webkit-scrollbar
{
	width: 6px;
	background-color: white;
}

#FournisseurList::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
}

#FournisseurList
{  
}

#ProductsList
{
	display: none;
}

#page_content { height: 100% }

#div_map_and_products { position: relative; height: 100% }	

#bandeau_goToFournisseurList {  }

#section_carte
{
	position: relative;	
	height: 100%;   
	background-color: #9e9e9e;
}

@media #{$medium-and-up} 
{
	#ProductsList
	{
		display: block;
		position: absolute;
		background-color: white;
		width: 200px;		
	    top: 0;
	    left: 0;
	    height: 100%;   
	}

	#section_carte
	{
		margin-left: 200px;
	}
} 

@media #{$large-and-up}
{
	#FournisseurList
	{
		position: absolute;
	    width: 400px;
	    top: 0;
	    right: 0;	
	    height: 100%;  
	    overflow-y:scroll;  
	}

	#bandeau_goToFournisseurList { display:none; }

	#section_carte
	{
		margin-right: 400px; 
	}
}


#bandeau_goToFournisseurList
{	
	background-color: rgb(252, 252, 252);
	text-align: center !important;
	padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

   a {
    	color: #26A69A;
    	font-weight: 500;
    }

    .valign-wrapper
    {
    	width: 180px;
    	margin: auto;
    }
}


#bandeau_detail
{
	height:0;
	background-color: #F7F7F7;
	will-change:height;
	z-index: 400;
	overflow: hidden;
	@include transition(height 1s);	
}





#div_recherche_contener
{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	text-align:center;
	z-index:50;
	@include transition(all 1s);
}

#div_recherche
{
	width: 90%;
	overflow: hidden;
	@include transition(all 1s);
    margin: auto;
    padding: 0.1rem 1rem 0 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 189, 189);
	@extend .z-depth-2;

	.icon-search
	{
		font-size: 2rem;
	    color: $link-color;
	    vertical-align: middle;
	}
}

.flash-error
{	
    color: #BD0101;
    font-weight: 500;
}

@media screen and (min-width: 600px)
{
	#div_recherche { width: 400px }
}

#inputAdresse
{
	text-align: center;
	width: calc(100% - 4rem);
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
}
 
input.placeholder, textarea.placeholder {
    color: #555;
}

// ---------------------------------------
//             GOOGLE MAP
// ---------------------------------------
#map
{	
	z-index: 10;
	height:200px;
	width:100%;
	@include transition(height 1s);
}

// enlever les liens et logo de google
/* a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
} */
/* .gmnoprint div {
    //background:none !important;
} */

