@import "constelisting";
@import "components/providerList";



#bandeau_goToProviderList
{	
    background-color: #272626;
	text-align: center;    

    a 
    {
    	color: #DEDEDE;
	    font-weight: 400;
	    line-height: 2.5rem;
    }

    .icon-expand
    {
    	font-size: 1.2rem;
	    position: relative;
	    top: 3px;
	    margin: 0 .5rem;
    }   

    @media #{$medium-and-up} 
    {
    	background-color: rgb(252, 252, 252);
    	margin-top: .5rem;
    	margin-bottom: .5rem;

    	a 
    	{
	    	color: lighten($secondary-color, 15%);
	    	font-weight: 600;
    	}
    }
}

#div_recherche_contener
{
	position:absolute;
	height:100%;
	width:100%;
	background-color: rgba(78, 78, 78, 0.45);
	top:0;
	left:0;
	text-align:center;
	z-index:50;
	@include transition(all 1s);

	.flash-error
	{
		color: $error-color;
    	margin-top: .5rem;
	}    
}

#div_recherche
{
	width: 90%;
	overflow: hidden;
	@include transition(all 1s);
    margin: auto;
    padding: .2rem .1rem;
    background-color: white;
    border-radius: 10px;
	@extend .z-depth-2;
}

@media screen and (min-width: 600px)
{
	#div_recherche { width: 400px }
}

#inputAdresse
{
	text-align: center;
	width: calc(100% - 4rem);
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
}
 
input.placeholder, textarea.placeholder {
    color: #555;
}

