@import "constelisting";
@import "components/providerList";

#bandeau_tabs
{
	@include box-shadow-1(0px -2px 5px 1px rgba(0, 0, 0, 0.3));
	z-index: 5000;
}

#div_recherche_contener
{
	position:absolute;
	height:100%;
	width:100%;
	background-color: rgba(78, 78, 78, 0.45);
	top:0;
	left:0;
	text-align:center;
	z-index:50;
	@include transition(all 1s);

	.flash-error
	{
		color: $error-color;
    	margin-top: .5rem;
	}    
}

#div_recherche
{
	width: 90%;
	overflow: hidden;
	@include transition(all 1s);
    margin: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
	@extend .z-depth-2;
}

@media screen and (min-width: 600px)
{
	#div_recherche { width: 400px }
}

#inputAdresse
{
	text-align: center;
	width: calc(100% - 4rem);
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
}
 
input.placeholder, textarea.placeholder {
    color: #555;
}

