@import 'partials/base';
@import 'vendors/materialize';

h1
{
	font-size: 3rem;
}

#inputAdresse
{
	width: 400px;
	margin-bottom:50px;
	text-align: center;
	border: 3px solid #BDBDBD;
	box-shadow: none !important;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    &::-webkit-input-placeholder { 
		color: #BDBDBD;
	}
	&::-moz-placeholder { 
		color: #BDBDBD;
	}
	&:-ms-input-placeholder { 
		color: #BDBDBD;
	}
	&:-moz-placeholder { 
		color: #BDBDBD;
	}

    &:focus
    {
    	border-color: #6B6B6B;
    }
}

body
{
	text-align: center;
	background-color: #FBFBFB;
	
}

section#title
{
	background-color: #3D3D3D;
    height: 120px;

	h1
	{
		margin: 0;
	    line-height: 120px;
        color: #FBFBFB;
	}
}

section#mainFunctions
{
	padding: 2rem 2rem 0 2rem;
}

#search-container
{
	background-color:black;
	padding: 1rem;
}

.function
{
	.image-wrapper
	{
		width: 100%;
	    height: 200px;
	    margin-bottom: 20px;
		
		.image 
		{
			border-radius: 50%;
		    -moz-border-radius: 50%;
		    -webkit-border-radius: 50%;
		    font-size: 120px;
		    height: 180px;
		    width: 180px;
		    text-align: center;
		    position: relative;
		    margin: auto;
		    
		    color: #444;
		    background-color: $primary-color;

		    &:before 
		    {
		    	line-height: 180px;
		    }  		   
		}
	}

	.text 
	{
		text-align: center;
		padding: 0 2rem;
	}

	button
	{
		font-weight: 700;
    	font-size: 1.1rem;
	}

	&:hover
	{
		cursor: pointer;
		.image
		{
			color:#C5C5C5;		
		}
	}
}

//google map autocomplete
.pac-icon{ display: none;}
.pac-item{ 
	margin-left: 1rem;
	margin-right: 1rem;
	height: 2rem;
	font-family: "Roboto";
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}