@import 'partials/base';
@import 'vendors/materialize';
@import 'components/inputAddress';

body
{
	text-align: center;
	background-color: #2f2f2f;
	height: 100%;	
	background: url(../img/index2.jpg) 100% no-repeat;
	background-size: cover;
	color:white;
}

section#mainContainer
{
	top: 150px;
    width: 80%;
    background-color: rgba(20, 20, 20, 0.8);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 15px;
    position: relative;

	h1
	{
		position: absolute;
		text-shadow: 2px 2px 2px rgb(32, 33, 30);
	    font-size: 5rem;
	    top: -5.7rem;
	    left: 0;
	    right: 0;
	}

	#inputAddress
	{
		width: 90%;
	    margin-bottom: 2rem;
	    border: none;
	    background-color: #ececec;

	    &::-webkit-input-placeholder { 
			color: dimgrey;
		}
		&::-moz-placeholder { 
			color: dimgrey;
		}
		&:-ms-input-placeholder { 
			color: dimgrey;
		}
		&:-moz-placeholder { 
			color: dimgrey;
		}
	}

	#inputAddress-icon {
	    position: absolute;
	    left: 3rem;
	    line-height: 3.4rem;
	    font-size: 1.4rem;
	    color: dimgrey;
	}

	

	.choiceModeContainer
	{
		width: 40%;
		display: inline-block;
		margin: 0 .8rem;

		.btnChoiceMode { background-color: $primary-color; }
	}

	.divider { margin-bottom : 1.5rem; }

	.btnParticipate { background-color: $secondary-color; }
}