@import 'partials/base';
@import 'vendors/materialize';
@import 'components/inputAddress';

body
{
	text-align: center;
	background-color: #2f2f2f;
	height: 100%;	
	background: url(../img/index2.jpg) 100% no-repeat;
	background-size: cover;
	color:white;
}

#mainWrapper
{
	height: 100%;
	width: 100%;
	position: relative;
}

@media #{$small-only}
{
	.btn
	{
		height: 2.5rem;
	    padding: 0 .8rem;
	    line-height: 2.5rem;
	}

	.divider
	{
		width: 90%;
	    margin: 0 auto;
	    margin-bottom: 1.5rem;
	}

	.col
	{
		padding: 0 0.5rem !important;
	}

	.row { margin-bottom : 0 ;}
}

section#mainContainer
{
    position: relative;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.8);    
    padding: .5rem;    

    @media #{$medium-and-up}
    {
		width: 80%;
    	max-width: 900px;
    	border-radius: 15px;
    	margin: 0 auto;
    	margin-top: 2rem;
    	padding: 2rem;   
    }

	h1
	{
		position: relative;
		font-family: 'Yellowtail', cursive;
	    text-shadow: 3px 3px 3px #000000;
	    font-size: 2.8rem;
	    margin: 1rem 0;	 	    

	    @media #{$medium-and-up}
		{
			position: absolute;	
			left: 0;
	    	right: 0;	
	    	top: -3rem;
	    	letter-spacing: 2px;
		}

	    @media #{$medium1-only}
	    {
	    	font-size: 4.3rem;
    		top: -4rem;
	    }

		@media #{$medium2-and-up}
		{
			font-size: 6rem;
	    	top: -5.4rem;
		}	
	}

	h2
	{
		font-size: 1rem;
		line-height: 130%;
	    margin: 0;
	    margin-top: 1rem;	    
    	font-family: 'Average Sans', sans-serif;

	    @media #{$medium1-only}
	    {
	    	font-size: 1.2rem;
	    }

		@media #{$medium2-and-up}
		{
			font-size: 1.4rem;
		}
	}	    

	#inputAdressContainer
	{
		position: relative;
		width: 90%;
		padding-right:1rem;
		margin: 0 auto;
		margin-top: 1rem;
   		margin-bottom: .5rem;			

		@media #{$medium-and-up}
		{
			margin-top: 1.5rem;	
			margin-bottom: 2rem;
		}	
	}

	#inputAddress
	{
		width: 100%;	    
	    border: none;
	    background-color: #ececec;
	    color:black;

	    &:focus
	    {
	    	background-color: #fdfdfd;
	    }

	    &::-webkit-input-placeholder { 
			color: dimgrey;
		}
		&::-moz-placeholder { 
			color: dimgrey;
		}
		&:-ms-input-placeholder { 
			color: dimgrey;
		}
		&:-moz-placeholder { 
			color: dimgrey;
		}
	}

	#inputAddress-icon 
	{
	    position: absolute;
	    line-height: 3.4rem;
	    font-size: 1.4rem;
	    color: dimgrey;
	}

	.ui-effects-wrapper 
	{    
    	display: inline-block;
	}	

	.choiceModeContainer
	{
		.btnChoiceMode { background-color: #af3f43; }
	}

	.divider { margin-bottom : 1.5rem; }

	.btnParticipate { background-color: $secondary-color; }
}