@import "constelisting";

@media #{$large-and-up}
{
	#bandeau_detail
	{
		position: absolute;
	    width: 440px;
	    top: 0;
	    right: 0;	
	    height: 100%;  

	    @include box-shadow-1(0px 6px 9px 4px rgba(119, 119, 119, 0.75));
	}	

	#map
	{
		margin-right: 400px; 
		width:auto;
	}

	#detail_provider 
	{
		.moreDetails 
		{
			display:block;
		}
	}

	
}