.icon
{
	font-size: 22px;
    color: $secondary-color;
    /* padding-top: 1rem; */
    /* line-height: 3rem; */
    padding-top: 3px;
    float: left;
    margin-right: 1rem;
}

.icon.disabled
{
	color: #DFDFDF;
}

.moreIconContainer
{
	display:none;
	z-index: 10;
	width: 400px;
	position: absolute;
	bottom: 0;
	left: 40px;

	&.rotateRight { left: 76px }
	&.rotateLeft { }
	

	.moreIconWrapper
	{
		display: inline-block;
    	position: relative;

		.iconInsideMarker:before
		{
			bottom: 20px;
		}
	}
	
}

.iconMarkerSvg
{
	width: 36px;
	position: absolute;
	bottom: 0;

	&.moreIcon
	{
		display: inline-block;
		position: relative;
	}
}

.icon-plus-circle
{
	position: absolute;
    top: 10px;
    z-index: 5;
    font-size: 20px;
    /* width: 1.3rem; */
    /* height: 1.1rem; */
    line-height: 1.5rem;
    right: -5px;
    font-weight: 200;
    color: #4A148C;
}

.halfHidden
{
	opacity: 0.2;
}	

.iconInsideMarker:before
{
    position: absolute;
    //color: #541114;
    font-size: 18px;
    bottom: 15px;
    left: 9px;    
}

.marker-wrapper
{
	position: relative;
	z-index: 1;
    width: 36px;
    height: 50px;     

	&:hover { cursor: pointer; }

    &.BigSize, 
	{
		z-index: 2;
		width: 44px;
		margin-left: -4px;

		.iconMarkerSvg
		{
			width: 44px;
		}

		.iconInsideMarker:before
		{   
			font-size: 22px;
	    	bottom: 18px;
	    	left: 11px;	
		}
	}

    &.rotateRight
	{
		margin-left: 31px;
		margin-top: 7px;

		.iconMarkerSvg
		{
			transform: rotate(45deg);
		}
	}

	&.rotateLeft
	{
		margin-left: -31px;
		margin-top: 7px;

		.iconMarkerSvg
		{
			transform: rotate(-45deg);
		}
	}
}	






.icon-legumes { color: #4A148C }
.icon-fruits { color: #880E4F }
.icon-laitier { color: #B77B03 }
.icon-boissons { color: #258BB9 }
.icon-plantes { color: #4CAF50 }
.icon-pain { color: #B37800 } //#795548 brown
.icon-viande { color: #961616 }
.icon-poisson { color: #3F51B5 }
.icon-legumineuses { color: #2F7332 }
.icon-transformes { color: #37474F }
.icon-miel { color: #E09703 }
.icon-huile { color: #082D09 }
.icon-oeufs { color: #E09703 }
.icon-autre { color: #444444 }

.icon-marche { color: #4A148C }
.icon-epicerie { color: #4A148C }
.icon-boutique { color: #4A148C }

