@charset "UTF-8";

@font-face {
  font-family: "presdecheznous";
  src:url("fonts/presdecheznous.eot");
  src:url("fonts/presdecheznous.eot?#iefix") format("embedded-opentype"),
    url("fonts/presdecheznous.woff") format("woff"),
    url("fonts/presdecheznous.ttf") format("truetype"),
    url("fonts/presdecheznous.svg#presdecheznous") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "presdecheznous" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "presdecheznous" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fruits:before {
  content: "\61";
}
.icon-marche:before {
  content: "\62";
}
.icon-pain:before {
  content: "\63";
}
.icon-viande:before {
  content: "\64";
}
.icon-legumes:before {
  content: "\65";
}
.icon-poisson:before {
  content: "\66";
}
.icon-laitier:before {
  content: "\67";
}
.icon-plantes:before {
  content: "\68";
}
.icon-autre:before {
  content: "\69";
}
.icon-miel:before {
  content: "\6a";
}
.icon-transformes:before {
  content: "\6b";
}
.icon-boissons:before {
  content: "\6c";
}
.icon-oeufs:before {
  content: "\6d";
}
.icon-huile:before {
  content: "\6e";
}
.icon-marker:before {
  content: "\6f";
}
.icon-paper-plane:before {
  content: "\70";
}
.icon-legumineuses:before {
  content: "\71";
}
.icon-epicerie:before {
  content: "\72";
}
.icon-bike:before {
  content: "\73";
}
.icon-boat:before {
  content: "\74";
}
.icon-car:before {
  content: "\75";
}
.icon-clothe:before {
  content: "\76";
}
.icon-leaf-1:before {
  content: "\77";
}
.icon-camping:before {
  content: "\78";
}
.icon-partner-3:before {
  content: "\79";
}
.icon-001-scissors-1:before {
  content: "\7a";
}
.icon-echange-1:before {
  content: "\41";
}
.icon-conf:before {
  content: "\42";
}
.icon-atelier-1:before {
  content: "\43";
}
.icon-formation-2:before {
  content: "\44";
}
.icon-skate:before {
  content: "\45";
}
.icon-moto:before {
  content: "\46";
}
.icon-mobilite-2:before {
  content: "\47";
}
.icon-cafe:before {
  content: "\48";
}
.icon-materiaux:before {
  content: "\49";
}
.icon-seeds:before {
  content: "\4a";
}
.icon-plants-1:before {
  content: "\4b";
}
.icon-charpentier:before {
  content: "\4c";
}
.icon-renouvelable-1:before {
  content: "\4d";
}
.icon-electricite:before {
  content: "\4e";
}
.icon-school:before {
  content: "\4f";
}
.icon-architecte:before {
  content: "\50";
}
.icon-maconnerie:before {
  content: "\51";
}
.icon-ressourcerie:before {
  content: "\52";
}
.icon-co2-1:before {
  content: "\53";
}
.icon-jaridnier:before {
  content: "\54";
}
.icon-design:before {
  content: "\55";
}
.icon-temperature-1:before {
  content: "\56";
}
.icon-paper:before {
  content: "\57";
}
.icon-park:before {
  content: "\58";
}
.icon-photo:before {
  content: "\59";
}
.icon-musique:before {
  content: "\5a";
}
.icon-theatre:before {
  content: "\30";
}
.icon-cinema:before {
  content: "\31";
}
.icon-restaurant:before {
  content: "\32";
}
.icon-ferme-1:before {
  content: "\33";
}
.icon-hotel-1:before {
  content: "\34";
}
.icon-gite:before {
  content: "\35";
}
.icon-voyage-1:before {
  content: "\36";
}
.icon-beaute:before {
  content: "\37";
}
.icon-pharmacie-1:before {
  content: "\38";
}
.icon-cosmetique:before {
  content: "\39";
}
.icon-decoration-2:before {
  content: "\21";
}
.icon-accessoire-2:before {
  content: "\22";
}
.icon-vetement-4:before {
  content: "\23";
}
.icon-accessoire-4:before {
  content: "\24";
}
.icon-friperie-1:before {
  content: "\25";
}
.icon-case:before {
  content: "\26";
}
.icon-coffee:before {
  content: "\27";
}
.icon-tags:before {
  content: "\28";
}
.icon-euro:before {
  content: "\29";
}
.icon-paw:before {
  content: "\2a";
}
.icon-education-1:before {
  content: "\2b";
}
.icon-construction:before {
  content: "\2c";
}
.icon-ruche:before {
  content: "\2d";
}
.icon-expo:before {
  content: "\2e";
}
.icon-home:before {
  content: "\2f";
}
.icon-angle-right:before {
  content: "\3a";
}
.icon-recycle:before {
  content: "\3b";
}
.icon-tool:before {
  content: "\3c";
}
.icon-chalet:before {
  content: "\3d";
}
.icon-distrib:before {
  content: "\3e";
}
.icon-palette:before {
  content: "\3f";
}
.icon-activits-culturelles:before {
  content: "\5b";
}
.icon-fablab-3:before {
  content: "\7b";
}
.icon-informatique-1:before {
  content: "\5c";
}
.icon-fablab-1:before {
  content: "\e008";
}
.icon-monnaie-locale:before {
  content: "\e009";
}
.icon-fablab2:before {
  content: "\e00b";
}
.icon-solidarit:before {
  content: "\e00c";
}
.icon-coopratives:before {
  content: "\e00f";
}
.icon-lieu-collaboratif:before {
  content: "\e010";
}
.icon-mobilier:before {
  content: "\e012";
}
.icon-coworking-1:before {
  content: "\e014";
}
.icon-troc-1:before {
  content: "\e015";
}
.icon-troc-2:before {
  content: "\e017";
}
.icon-vivre-ensemble:before {
  content: "\e019";
}
.icon-repair-caf-2:before {
  content: "\e01a";
}
.icon-bote-livredons:before {
  content: "\e01c";
}
.icon-informatique-4:before {
  content: "\e01e";
}
.icon-informatique-3:before {
  content: "\e021";
}
.icon-ateliers-1:before {
  content: "\e022";
}
.icon-repair-caf:before {
  content: "\40";
}
.icon-collectif-citoyen-1:before {
  content: "\5f";
}
.icon-apple:before {
  content: "\7d";
}
.icon-001-support:before {
  content: "\60";
}
.icon-003-hand:before {
  content: "\e001";
}
.icon-004-protest:before {
  content: "\e002";
}
.icon-002-support-1:before {
  content: "\e000";
}
.icon-meeting-2:before {
  content: "\e006";
}
.icon-democratie-1:before {
  content: "\e005";
}
