@charset "UTF-8";

@font-face {
  font-family: "carto";
  src:url("fonts/carto.eot");
  src:url("fonts/carto.eot?#iefix") format("embedded-opentype"),
    url("fonts/carto.woff") format("woff"),
    url("fonts/carto.ttf") format("truetype"),
    url("fonts/carto.svg#carto") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "carto" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "carto" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fruits:before {
  content: "\63";
}
.icon-marche:before {
  content: "\65";
}
.icon-pain:before {
  content: "\66";
}
.icon-viande:before {
  content: "\68";
}
.icon-legumes:before {
  content: "\6e";
}
.icon-poisson:before {
  content: "\71";
}
.icon-laitier:before {
  content: "\72";
}
.icon-plantes:before {
  content: "\67";
}
.icon-autre:before {
  content: "\6b";
}
.icon-miel:before {
  content: "\6c";
}
.icon-transformes:before {
  content: "\6d";
}
.icon-boissons:before {
  content: "\6f";
}
.icon-expand:before {
  content: "\75";
}
.icon-angle-right:before {
  content: "\77";
}
.icon-oeufs:before {
  content: "\78";
}
.icon-huile:before {
  content: "\79";
}
.icon-plus-circle:before {
  content: "\7a";
}
.icon-marker:before {
  content: "\41";
}
.icon-close:before {
  content: "\45";
}
.icon-search:before {
  content: "\48";
}
.icon-edit:before {
  content: "\4c";
}
.icon-delete:before {
  content: "\4d";
}
.icon-directions:before {
  content: "\4e";
}
.icon-menu:before {
  content: "\4a";
}
.icon-star-full:before {
  content: "\69";
}
.icon-starcircle:before {
  content: "\49";
}
.icon-locate:before {
  content: "\4b";
}
.icon-star-empty:before {
  content: "\4f";
}
.icon-day:before {
  content: "\52";
}
.icon-attention:before {
  content: "\56";
}
.icon-exclamation-1:before {
  content: "\59";
}
.icon-share-alt:before {
  content: "\30";
}
.icon-external-link:before {
  content: "\38";
}
.icon-paper-plane:before {
  content: "\21";
}
.icon-legumineuses:before {
  content: "\61";
}
.icon-list:before {
  content: "\29";
}
.icon-epicerie:before {
  content: "\2a";
}
.icon-bike:before {
  content: "\62";
}
.icon-boat:before {
  content: "\43";
}
.icon-car:before {
  content: "\44";
}
.icon-flower:before {
  content: "\2d";
}
.icon-internet:before {
  content: "\3b";
}
.icon-education:before {
  content: "\3c";
}
.icon-people:before {
  content: "\3d";
}
.icon-coffee:before {
  content: "\40";
}
.icon-home:before {
  content: "\5f";
}
.icon-users:before {
  content: "\7e";
}
.icon-clothe:before {
  content: "\e004";
}
.icon-leaf-1:before {
  content: "\e008";
}
.icon-facebook:before {
  content: "\e00c";
}
.icon-gplus:before {
  content: "\e00d";
}
.icon-twitter:before {
  content: "\e00e";
}
.icon-description:before {
  content: "\e00f";
}
.icon-account-circle:before {
  content: "\e010";
}
.icon-mail:before {
  content: "\e012";
}
.icon-phone:before {
  content: "\e013";
}
.icon-add-circle:before {
  content: "\e015";
}
.icon-clear:before {
  content: "\e016";
}
.icon-redo:before {
  content: "\e017";
}
.icon-material-design-icons-1:before {
  content: "\e009";
}
.icon-person:before {
  content: "\e00a";
}
.icon-directory:before {
  content: "\e00b";
}
.icon-add-element:before {
  content: "\e011";
}
.icon-info:before {
  content: "\e018";
}
.icon-lock:before {
  content: "\e019";
}
.icon-map:before {
  content: "\e01a";
}
.icon-user-plus:before {
  content: "\e01c";
}
.icon-unlock:before {
  content: "\e01d";
}
.icon-yahoo:before {
  content: "\e01e";
}
.icon-camping:before {
  content: "\e022";
}
.icon-partner-3:before {
  content: "\e026";
}
.icon-001-scissors-1:before {
  content: "\e000";
}
.icon-echange-1:before {
  content: "\e028";
}
.icon-conf:before {
  content: "\e02d";
}
.icon-atelier-1:before {
  content: "\e02f";
}
.icon-formation-2:before {
  content: "\e034";
}
.icon-skate:before {
  content: "\36";
}
.icon-moto:before {
  content: "\e030";
}
.icon-mobilite-2:before {
  content: "\37";
}
.icon-marker-symbol:before {
  content: "\54";
}
.icon-cafe:before {
  content: "\2f";
}
.icon-materiaux:before {
  content: "\2c";
}
.icon-seeds:before {
  content: "\7d";
}
.icon-plants-1:before {
  content: "\e02a";
}
.icon-charpentier:before {
  content: "\e02c";
}
.icon-renouvelable-1:before {
  content: "\e035";
}
.icon-electricite:before {
  content: "\e037";
}
.icon-school:before {
  content: "\e038";
}
.icon-architecte:before {
  content: "\e039";
}
.icon-maconnerie:before {
  content: "\e03a";
}
.icon-ressourcerie:before {
  content: "\e03b";
}
.icon-co2-1:before {
  content: "\e03d";
}
.icon-jaridnier:before {
  content: "\e03e";
}
.icon-design:before {
  content: "\e040";
}
.icon-temperature-1:before {
  content: "\e041";
}
.icon-paper:before {
  content: "\e04d";
}
.icon-park:before {
  content: "\e04e";
}
.icon-photo:before {
  content: "\e04f";
}
.icon-musique:before {
  content: "\e050";
}
.icon-theatre:before {
  content: "\e051";
}
.icon-cinema:before {
  content: "\e052";
}
.icon-restaurant:before {
  content: "\57";
}
.icon-ferme-1:before {
  content: "\2b";
}
.icon-chalet:before {
  content: "\2e";
}
.icon-hotel-1:before {
  content: "\3f";
}
.icon-gite:before {
  content: "\5b";
}
.icon-voyage-1:before {
  content: "\5c";
}
.icon-beaute:before {
  content: "\3a";
}
.icon-pharmacie-1:before {
  content: "\5e";
}
.icon-pharmacie-2:before {
  content: "\60";
}
.icon-cosmetique:before {
  content: "\7b";
}
.icon-decoration-2:before {
  content: "\e02b";
}
.icon-accessoire-2:before {
  content: "\e033";
}
.icon-vetement-4:before {
  content: "\e044";
}
.icon-accessoire-4:before {
  content: "\e045";
}
.icon-friperie-1:before {
  content: "\e047";
}
