{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'user-contributions' %}
{% set navTitle = "Mes Contributions" %}

{% block title %}Mes Contributions{% endblock %}

{# BODY CONTENT #}
{% block body_content %}
<section>

  {% set elementStatus = {
    '' : 'En attente',
    '-6': "Doublon",
    '-5': "modified pending",
    '-4': 'Supprimé', 
    '-3': 'Refusé (votes) ', 
    '-2': 'Réfusé (admin)', 
    '-1': 'En attente (modifs)', 
     0: 'En attente (ajout)',
     1: 'Validé (admin)',
     2: 'Validé (votes)',
     3: 'Ajouté par admin',
     4: 'Modifié par admin',
     5: 'Modifié par propriétaire',
    }
  %}

  {% set contributionType = {
      0: "Ajout",
      1: 'Modif',
    }
  %} 

  <h1>Mes contributions</h1>

  {% include '@BiopenCoreBundle/user/contributions/elements-owned.html.twig' %}
  {% include '@BiopenCoreBundle/user/contributions/elements-contributed.html.twig' %}  
  {% include '@BiopenCoreBundle/user/contributions/pending-contributions.html.twig' %}
  {% include '@BiopenCoreBundle/user/contributions/votes.html.twig' %}
  {% include '@BiopenCoreBundle/user/contributions/reports.html.twig' %}
  {% include '@BiopenCoreBundle/user/contributions/all-contributions.html.twig' %}

</section>   
{% endblock %}