{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{# BODY CONTENT #}
{% block body_content %} 

<div class="menu-user">
  <ul>
    <li class="title">Menu</li>
    <a href="{{ path('biopen_user_profile') }}"><li>Préférences</li></a>
    <a href="{{ path('biopen_user_contributions') }}"><li>Mes contributions</li></a>
    <a href="{{ path('biopen_user_votes') }}"><li>Mes votes</li></a>
    <a href="{{ path('biopen_user_reports') }}"><li>Mes signalements</li></a>
  </ul>
</div>

<section>
  {% block body_user_content %}
  {% endblock %}
</section>
   
{% endblock %}