{% extends "@BiopenCoreBundle/user/layout.html.twig" %}

{% set pageName = 'user-profile with-sidebar' %}
{% set navTitle = "Mon Profil" %}

{% block title %}Mon profil{% endblock %}

{# BODY CONTENT #}
{% block body_user_content %}

<h1>Mon profil</h1>
   
{% endblock %}