{% extends "@BiopenCoreBundle/user/layout.html.twig" %}

{% set navTitle = "Mon espace" %}
{% block title %}Mon espace{% endblock %}

{% set pageName = 'user-space' %}

{% block body_user_before_content %}
  <h1>Mon espace</h1>
{% endblock %}