#ElementList
{
	display:none;
	overflow: auto;

	border-left: none;
	height: auto;

	ul
	{
		height: auto;
		position: relative;
		@media #{$medium-and-up} { padding: 0 3rem; }
		@media #{$large-only} { padding: 0 10rem; }
	}

	.element-item
	{
		//.menu-element { display: none; } 
		.element-main-icon {display:none}
		.star-names-icons {display:block}
		.icon-close {display:none}
		.distance{ margin-right: 0;}
	}

	.collapsible
	{
		overflow-y: auto;
		margin :0;
		&.custom-scroll-bar::-webkit-scrollbar {
		    width: 14px;
		}
	}

	.collapsible-header
	{
		border-bottom: 1px solid #abaaaa;
		background-color: white;
	}

	.collapsible.popout > li
	{ 
		margin: 0;
	}

	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
	}

	.element-list-title
	{
		display:block;
		position: relative;
		line-height: 3rem;
	    text-align: center;
	    color: #F5F3F3;
	    background-color: $secondary-color;	    
	}	
}

