@import '../modules/normalize';
@import '../modules/prefixer';
@import '../modules/variables';

@import '../vendors/materialize';

@import '../components/scroll-bar';

html
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgb(234, 234, 234);
}

body
{
  position: absolute;
  height: 100%;
  width: 100%;
}

#page-container
{  
  height: 100%
}

#page-content
{
	position: relative;
}