/*
* @Author: Sebastian Castro
* @Date:   2017-04-03 13:24:36
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-03-18 14:22:17
*/
//   FLASHBAG
.flash-messages-container
{
    display: inline-block;
    width: 100%;
}

.flash-message
{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    background-color: #444444;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;

    a 
    {
        color: white;
        text-decoration: underline;
        &:hover { color: $primary-color; }
    }

    &.fos_user_error { background-color: #9e171d; }
    &.sonata_user_error { background-color: #9e171d; }

    .btn-close
    {
        display: none;
    }

    &.notice { background-color: #444444; a:hover { color: $primary-color; } }
    &.error { background-color: #b90303; a:hover { color: white; } }
    &.success { background-color: #4caf50; a:hover { color: #444444; } }
}
