header 
{	
	color: white ;
	//@extend .z-depth-2;		

	#menu
	{
		margin: 0 ; 
	  font-size: .85rem ;
		background-color: #272626;
		padding: 0 .5rem;

		#menu-home
		{
	    display: inline-block;

	    font-family: 'Gloria Hallelujah', cursive;
	    font-weight: bold;
	    letter-spacing: -1px;

	    // font-family: 'Yellowtail', cursive;
	    font-size: 1.4rem;
	    line-height: 2.3rem;
	    margin-right: 0;

	    @media screen and (max-width: 500px) { line-height: 2.5rem; }
		}

		#menu-actions
		{
			float : right;
			color: white;
		}
		
		.menu-item 
		{ 
			text-align:center ;
			line-height: 2.5rem;
			float: none;
			display:inline-block;			
				
			padding: 0 .5rem !important;

			font-size: inherit ;
			//@include transition(all 0.4s);

			&:hover
			{
				color: #EE6E73;
				.arrow-after
				{
					border-color: #EE6E73 transparent transparent transparent;
				}
				cursor: pointer;
			}

			.arrow-after
			{
				display: inline-block;
		    margin-left: 5px;
		    margin-bottom: -3px;
		    border: solid 5px;
		    border-color: white transparent transparent transparent;
		  }

			a 
			{ 
				color: inherit; 
				cursor: pointer;
				font-size: inherit ;
				width:100%;
				border-radius: 0; 
				border: none;
				background-color: transparent;
	    	letter-spacing: .5px;

			}			
		}

		.dropdown-content
		{
			background-color: #3d3d3d;
			margin-top:2.3rem;
			margin-right:2rem;

	    @media screen and (max-width: 500px) { margin-top: 2.5rem; }
	    @media only screen and (min-width : 601px) { margin-top: 3.4rem; }
			
			.about-title-item 
			{
		    color:#d2d2d2;
		    font-size: .9rem;
		    &:hover { color: white; background-color: #3d3d3d }
			}  			
		}					
	}

	#menu-home
	{
		color: #EE6E73;
		.small-logo { display: inline-block; }
		.large-logo { display: none; }

		@media screen and (min-width: 500px)
		{
			color: white;
			.small-logo { display: none; }
			.large-logo { display: inline-block; }
		}
	}	
	

	@media only screen and (min-width : 601px)
	{
		#menu 
		{ 
			font-size:1rem;
			margin-bottom: 0px ;
			padding: 0;	

			#menu-home
			{
				margin-left: .7rem;
		    font-size: 1.6rem;
		    line-height: 3.2rem;
			}		

			.menu-item 
			{
				margin-right: 2rem;
				line-height: 3.4rem;
				width: auto;	
			}
		}


	}
}

