/*
* @Author: Sebastian Castro
* @Date:   2017-03-31 08:51:24
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-06-12 15:37:48
*/
#popup-login
{
	text-align: center;
	//top: 20% !important;

	a
	{
		color: white;
	  text-decoration: underline;
	}

	.register
	{
		font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;    
	}	 

	.login-form {
		margin-top: 40px;
	}   

	.oauth-section
	{  
	  padding-right: 2rem !important;		

	  .oauth-btn {
	  	height: 3rem;
	    line-height: 3rem;
	    color: white;
	    text-align: left;
	    width: 100%;
	    font-weight: 600;
	    padding-left: 1.5rem;
	    margin-bottom: 1rem;
	    text-decoration: none !important;  

	    &.facebook { background-color: #446da0; }
	    &.gplus { background-color: #cf5d46; }
	    &.yahoo { background-color: #834fd6; }
	    &.communs { background-color: white; color: #e87151; }
	    &.printemps { background-color: #785fa1; } 

	    i.icon {
	    	font-size: 20px;
	    	line-height: 3.5rem;
	    	padding: 0;
	    } 
	  }
	}

	p.facebook-alert
	{
		font-style: italic;
    color: #b5b4b7;
    font-size: .95rem;
    margin: 0;
    margin-bottom:1rem;
	}

	&.with-oauth {
		.form-section {
			padding-left: 2rem !important;
			border-left: 1px solid #909090;
		}
	}
	.form-section
	{		
		text-align: left;

		#login-form { margin-bottom: 1rem; }

		.error-message
		{
	    text-align: center;
	    border-radius: 2px;
	    font-style: italic;
	    color: #fff;
	    font-weight: bold;
		}

		.input-field label { left: 0 !important; color: #ccc8c8; } 
		label#remember-me-checkbox { left: 0 !important; color: white; }

		.input-field input[type=text], .input-field input[type=password] 
		{ 
			margin-bottom : 0 !important; 
			border-color: white !important;
			height: 2rem;
   	  margin-top: 10px;

   	  &#username { margin-bottom: 10px !important;}
		}
		
		
		[type="checkbox"] + label#remember-me-checkbox:before
			{
				top: 3px;
		    width: 16px;
		    height: 16px;
		    border: 2px solid #bfbfbf;
			}
		[type="checkbox"]:checked + label#remember-me-checkbox:before
		{
			  top: -1px;
		    width: 10px;
		    height: 18px;
		    border-right: 2px solid #dedede;
		    border-bottom: 2px solid #dedede;
		    border-top: 2px solid transparent;
   		  border-left: 2px solid transparent;
		}

		button
		{
			font-size: .9rem;
	    padding: 0 1.8rem;
	    margin-right: 1rem;
		}

		a.forgotten-password
		{
			display: inline-block;
	    font-size: .85rem;
	    line-height: 3rem;
	    color: #bfbfbf !important;
		}
	}

	@media only screen and (max-width: 600px)
  {
  	.oauth-section { padding: 0 !important;}
  	.oauth-section.oauth-btn { padding-left: 1rem; font-size: .9rem;}

  	.form-section
		{
			padding: 0 !important;
    	border-left: none;
    }

    .register
	  {
	  	margin-top: 2rem;
	  }
  } 

}