@import 'header-about-modal';
@import 'header-login-modal';

header 
{	
	color: white ;
	//@extend .z-depth-2;	

	#menu
	{
		margin: 0 ; 
	  font-size: .85rem ;
		padding: 0 .5rem;
		height: 3rem;

		@media only screen and (min-width : 601px)
		{
			font-size:1rem;
			margin-bottom: 0px ;
			padding: 0;	
			height: 3.5rem;
		}

		#menu-home
		{
	    display: inline-block;

	    font-family: 'Gloria Hallelujah', cursive;
	    font-weight: bold;
	    letter-spacing: -1px;

	    // font-family: 'Yellowtail', cursive;
	    font-size: 1.4rem;
	    line-height: 3rem;
	    margin-right: 0;

	    color: #EE6E73;
			.small-logo { display: inline-block; }
			.large-logo { display: none; }

			#logo-inline
			{
				height: 2.5rem;
		    position: absolute;
		    top: .3rem;
			}

	    .small-logo .icon-menu
	    {
	    	font-size: 1.8rem;
		    padding-top: 3px;
		    color: #ffffff;
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 3rem;
		    border-radius: 0 18px 18px 0;
		    margin: 0;
		    padding: 0 1.3rem 0 1rem;
		    padding-top: 3px;
	    }

	    @media screen and (min-width: 500px)
			{
				color: white;
				.small-logo { display: none; }
				.large-logo { display: inline-block; }				
			}

			@media screen and (min-width: 601px)
			{
				margin-left: .7rem;
		    font-size: 1.6rem;
		    line-height: 3.5rem;
		    #logo-inline { top: .5rem; }
		  }

	    @media screen and (max-width: 600px) { line-height: 3rem; height: 3rem; padding: 0;}
		}

		#menu-actions
		{
			float : right;
			line-height: 2.5rem; 
			@media screen and (min-width: 601px) { line-height: 3rem; }
			@media screen and (min-width: 801px) { line-height: 3.5rem; }
		}
		
		.menu-item 
		{ 
			text-align:center ;
			//line-height: 2.5rem;
			float: none;
			display:inline-block;			
				
			padding: 0 .5rem !important;

			font-size: inherit ;
			//@include transition(all 0.4s);

			@media only screen and (min-width : 601px)
			{
				margin-right: .5rem;
				//line-height: 2.8rem;
				width: auto;	
			}

			@media only screen and (min-width : 1000px)
			{
				margin-right: 2rem;
			}

			&:hover
			{
				cursor: pointer;
			}

			.arrow-after
			{
				display: inline-block;
		    
		    border: solid 5px;
		    border-color: #eaeaea transparent transparent transparent;

    		margin-right: 10px;

    		@media only screen and (min-width : 801px) 
	    	{ 
	    	 	margin-left: 5px;
		    	margin-bottom: -3px;
		    	margin-right: 0px;
		    	border-color: white transparent transparent transparent;
	    	}
		  }

			a 
			{ 
				color: inherit; 
				cursor: pointer;
				font-size: inherit ;
				width:100%;
				border-radius: 0; 
				border: none;
				background-color: transparent;
	    	letter-spacing: .5px;

	    	.text {display:none}

	    	.icon-menu
	    	{
	    		font-size: 1.2rem;
	    		margin-left: .5rem;
	    		padding-top: 6px;
   			  display: inline-block;
   			  color: #eaeaea
	    	}

	    	 @media only screen and (min-width : 801px) 
	    	 { 
	    	 	.icon-menu {display:none}
	    	 	.text {display:inline}
	    	 }


			}			
		}

		.btn-login
		{
			
			margin-right: 1rem;
	    height: 2rem;
	    line-height: 2.5rem;
	    padding: 0 10px;
	    font-size: .85rem;
	    margin-top: -9px;
			border-radius: 2px;

			.text { display: none; }
			.icon-menu { font-size: 1.1rem }


			@media only screen and (min-width : 801px) 
			{ 
				.icon-menu { display: none; } 
				.text { display: inline; } 
				padding: 0 1.5rem;
				margin-top: 0px;
				line-height: 2rem;

			}
		}

		.dropdown-content
		{
			margin-top:2.3rem;
			margin-right:2rem;

			li { color: inherit !important; }

			li:hover { background-color: transparent;}

	    @media screen and (max-width: 500px) { margin-top: 2.5rem; }
	    @media only screen and (min-width : 601px) { margin-top: 3.4rem; }
			
			.about-title-item 
			{
		    font-size: .9rem;
		    color: inherit;
		    &:hover { color: white; background-color: transparent; }
			}  			
		}					
	}

	
}

