/*
* @Author: Sebastian Castro
* @Date:   2017-03-22 16:36:09
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-04-05 15:30:30
*/

#listAbout
{
	.item-divider
	{
		height: 1px;
    overflow: hidden;
    background-color: #717171;
	}
}

.modal.about-modal
{
	.modal-content {
		text-align: justify;
  	padding: 2rem 2.5rem;
  }
	h1 { text-align: left; }
}