 <a href="{{ admin.generateObjectUrl('redirectEdit', object) }}" class="btn btn-sm btn-default edit_link" target="_blank" title="Editer sur le site">
    <i class="fa fa-external-link" aria-hidden="true"></i><i class="fa fa-pencil" aria-hidden="true"></i>
</a>