a.leaflet-control-zoom-in {
    font-size: 18px !important;
    color: #3d3d3d;
}

a.leaflet-control-zoom-out {
    font-size: 25px! important;
    font-weight: normal;
    color: #3d3d3d;
    text-indent: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-right: 20px;
    margin-top: 20px;
}