a.leaflet-control-zoom-in {
    font-size: 18px !important;
    color: #3d3d3d;
}

a.leaflet-control-zoom-out {
    font-size: 25px! important;
    font-weight: normal;
    color: #3d3d3d;
    text-indent: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-right: 20px;
    margin-top: 20px;
}

.show-as-list-button {
    position: absolute;
    z-index: 500;
    top: 15px;
    left: 100px;
    color: #3d3d3d;
    background-color: #ffffff;
    padding: .5rem 1rem;
    @extend .z-depth-1;

    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;

    // deuxième version
    color: $primary-color;
    font-size: 14px !important;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 2px 3px 1px rgba(0,0,0,.25);
    cursor: pointer;
    text-align: center;
    border: 1px dashed transparent;
    border-color: #a5a5a5;
    border-radius: 5px;

    &:hover{ cursor : pointer; }

    i {
        font-size: 1rem;
        float: left;
        line-height: 1rem;
        padding-top: 3px;
        margin-right: 10px;
    }

    @media #{$medium-and-up} 
    {
        left: 30px;
    }
}

#menu-button
{
	position: absolute;
    left: 1rem;
    text-align: center;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    z-index: 500;
    @extend .z-depth-1;
    color: #555;

    > i
    {
        font-size: 2rem;
        height: 3rem;
        &:before { line-height: 3rem }
    }

    @media #{$medium-and-up} 
    {
        display: none !important;
    }
}

#menu-button:hover {cursor: pointer;}
