{% extends sonata_block.templates.block_base %}

{% block block %}

    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(collabResolveChart) }}
        {{ chart(userInteractChart) }}
        {{ chart(contribsResolvedPie) }}
    </script>

    <div class="chart-container row">
        <div id="userInteractChart" class="col-md-12 chart-item"></div> 
        <div id="contribsResolvedPie" class="col-md-6 chart-item"></div>  
        <div id="collabResolveChart" class="col-md-6 chart-item"></div>                
    </div>

    <style>
        .chart-item {
            height: 400px;
            margin-bottom:30px;
        }
    </style>
       

{% endblock %}