{% extends sonata_block.templates.block_base %}

{% block block %}

		<div class="sonata-news-block-recent-element box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions spéciales</h3>
        </div>

        <div class="box-body">

            <div><a href={{ path('biopen_special_actions_update_json') }} target="_blank">Update Json representations</a></div>
            <div><a href={{ path('biopen_special_actions_fixs_mail_address') }} target="_blank">Réparer les addresses emails</a></div>

        </div>
    </div>

      

{% endblock %}