{% extends sonata_block.templates.block_base %}

{% block block %}

    <div>{{ pendingCount }} acteurs en attente de validation collaborative</div>
    <div>{{ moderationNeededCount }} acteurs ayant besoin d'une intervention de modération par un admin</div>

{% endblock %}