{% extends admin.getTemplate('base_list_field') %}

{% block field %}
  {% spaceless %}
      {% if field_description.options.choices is defined %}
        <div style="font-style: italic;font-size: .9em;">
          {% for key, optionValue in value %}
              {% set option = field_description.options.choices[optionValue.optionId] %}
              {{ option.nameShort is defined ? option.nameShort : option.name }}
              {% if not loop.last %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}
  {% endspaceless %}
{% endblock %}