 <a href="{{ admin.generateObjectUrl('redirectShow', object) }}" class="btn btn-sm btn-default edit_link" target="_blank" title="Voir sur le site">
    <i class="fa fa-external-link" aria-hidden="true"></i><i class="fa fa-eye" aria-hidden="true"></i>
</a>