{% extends base_template %}

{% block navbar_title %}
    {{ category ? category.name : "Liste des catégories" }}
{% endblock %}

{%- block actions -%}		
    <li></li>
{%- endblock -%}


{% block show %}
	
	<div class="well" style="font-size: 15px; line-height: 20px;">
	{% if category %}
		<ul>
	    {% include '@BiopenAdmin/tree_category_item.html.twig' with {'category': category, 'firstDepth':true} %}
    </ul>
    {% else %}
    	Aucune catégorie. <a href="{{ path('admin_biopen_geodirectory_category_create') }}" class="btn btn-default"> En créer une</a>
    {% endif %}
	</div>

<script>
$(document).ready(function () {
	$('.expandable').click(function (e) {
		$(this).siblings('ul.children').toggle(300);
		e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
	});
});
</script>

<style>

li.category-item
{
	list-style-type: none;
}

span.category-item
{
	text-decoration: underline;
	font-weight: bold;
}

li.option-item
{
	list-style-type: circle;
}

span.option-item
{
	font-style: italic;
}

.expandable:hover
{
	cursor: pointer;	
	color: black;
}

.arrow-after
{
	display: inline-block;
  margin-left: 5px;
  border: solid 3px;
  margin-bottom: -1px;
  border-color: #545454 transparent transparent transparent;
}

.actions
{
	margin-left: 1rem;
}

.btn
{
	border: none;
	padding: 5px 5px;
  font-size: 10px;
  color: grey;
}

ul
{
	padding-left: 30px;
}

ul.option-children {
    padding-left: 10px;
}

</style>
{% endblock %}


