<div class="input-field" id="search-bar-container" > 

	<a class="icon-search" id="search-bar-icon"></a>

    <input class="validate" 
    	   placeholder="Entrez une adresse" 
    	   type="text" 
    	   id="search-bar" 
    	   name="adresse" 
    	   onClick="this.setSelectionRange(0, this.value.length)" 
    	   {% if slug is defined %} 
    	   value="{{ slug | replace('-', ' ') | capitalize }}" 
    	   {% endif %}
    />
    
</div>