{% extends "::bundle_layout.html.twig" %}

{% block title %}Ajout d'un Fournisseur{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

 	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="{{ asset('assets/css/provider-add.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	{% for flash_message in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flash_message | raw }}
	    </div>
	{% endfor %}
  
  <h1 id="titre_ajout">Ajouter un fournisseur</h1>  

  {% include "::Fournisseur/form.html.twig" with {'editMode':false} %}

{% endblock %}





