{% extends "::bundle_layout.html.twig" %}

{% block title %}Edition{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

 	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="{{ asset('assets/css/fournisseur-add.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}
  
  <h1 id="titre_ajout">Modification des données</h1>  

  {% include "::Fournisseur/form.html.twig" with {'editMode':true} %} %}

{% endblock %}





