<div id="modal-pick-address" class="modal simple-modal">
  <div class="modal-content">

    <h5 id="modal-title">Entrez une adresse de départ</h5>
    <div class="modal-error-msg">Impossible de localiser cette adresse !</div>
    <input type="text" 
          class="input-simple-modal"
          onClick="this.setSelectionRange(0, this.value.length)"
          placeholder="L'adresse de départ"  />  
  </div>
  <div class="modal-footer">

    <span id='btn-calculate-directions' class="modal-action waves-effect waves-green btn">Calculer l'itinéraire</span>
    <span class="modal-action modal-close waves-effect waves-light btn-flat">Annuler</span>
  	
  </div>
   
</div>


<div id="modal-directions-fail" class="modal">
  <div class="modal-content">

    <h5 id="modal-title">Calcul d'un itinéraire</h5>
    <p>Une ereur est survenue pendant le calcul de l'itinéraire, désolé !</p>   
  </div>
  <div class="modal-footer">
   <span  class=" modal-action modal-close waves-effect waves-light btn-flat">OK</span>

  </div>   
</div>