<div id="modal-share-element" class="modal simple-modal">
  <div class="modal-content">
    <h5 id="modal-title">Partager ce lien avec d'autres</h5>
    <input type="text" 
          class="input-simple-modal"
          onClick="this.setSelectionRange(0, this.value.length)" />
    <!-- <span class="modal-more-info">Vous pouvez également copier le lien figurant dans la barre d'adresse de votre navigateur.</span> -->
  </div>  
  <div class="modal-footer bgdSoftColorAs">
    <span  class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</span>
  </div> 
</div>

