<!-- Pop up message alerte-->
<div id="modal-vote" class="modal action-modal custom-scroll-bar">
  <div class="modal-content">

    <h5>Voter pour l'acteur <span class="elementName"></span></h5>

		<p id="select-error" class="error">Vous devez sélectionner votre vote !</p>

		<input class="option-radio-btn "value="-2" name="voteOption" type="radio" id="option3"/>
    <label class="option-radio-label" for="option3">Cet acteur ne respecte pas la charte de près de chez nous, et ne doit donc pas y être répertorié</label>

    <input class="option-radio-btn "value="-1" name="voteOption" type="radio" id="option4"/>
    <label class="option-radio-label" for="option4">Cet acteur n'existe pas</label>

    <input class="option-radio-btn "value="0" name="voteOption" type="radio" id="option0"/>
    <label class="option-radio-label" for="option0">Cet acteur existe mais les informations indiquées ne sont pas correctes</label>

    <input class="option-radio-btn "value="1" name="voteOption" type="radio" id="option1"/>
    <label class="option-radio-label" for="option1">Cet acteur existe, mais je n'en sais pas plus sur lui</label>

    <input class="option-radio-btn "value="2" name="voteOption" type="radio" id="option2"/>
    <label class="option-radio-label" for="option2">Cet acteur existe et je valide l'exactitude des informations renseignées</label>    

		<div class="input-field">
			<input class="input-comment" type="text" placeholder="Commentaire optionnel pour la modération"/>
		</div>

		<div class="footer">	
			<button type="button"
					onclick="$('#modal-vote').closeModal()"  
					class="waves-effect waves-teal btn-flat">
				Annuler
			</button>
			<button type="button" 
					id="submit-vote"				
					class="btn btn-primary waves-effect waves-light">
				Voter
			</button>
		</div>   

  </div>
   
</div>