/*
* @Author: Sebastian Castro
* @Date:   2017-05-10 15:43:00
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-05-10 15:51:08
*/
#page-content.check-for-duplicates
{
  padding: 2rem;
  padding-top: 0;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.35);
}