#page-content.contributor-login
{
  max-width: 700px !important;
  padding: 1rem;
  padding-bottom: 4rem;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.35);

  @media only screen and (min-width : 601px) 
  { 
  	padding: 2rem; 

  	.input-field
	  {
	  	margin-left: 2rem;
	  	margin-right: 2rem;
	  }
  }

  h1 { margin-bottom: 2.5rem; }  

  .input-field.error .prefix { color: $error-color; }

  .explanations
  {
  	text-align: center;
    font-style: italic;
    font-size: .8rem;
    color: #404040;
    margin-bottom: 1rem;
  }

  .email-already-in-use { color: $error-color; }  

  .login-section
  {
    text-align: center;
    margin-top: -1rem;

    h3 { 
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .oauth-section 
    {
      .oauth-btn 
      {
        height: 3rem;
        line-height: 3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #707680;
        margin-right: 5px;
        width: auto;
        text-transform: none;
        padding-left: 5px;
        margin-bottom: 0;
        background-color: transparent;

        &:not(:last-child):after {
          content: "/";
          color: #c7c7c7;
          margin-left: 1rem;
        }

        @media only screen and (max-width : 800px)  
        {
          width: 100%;
          margin-left: .5rem;
          text-align: left;
          &:after { content: "" !important; }
        }

        &.facebook {color: #446da0; }
        &.gplus { color: #cf5d46; }
        &.yahoo { color: #834fd6; }
        &.communs { color: #e87151; }
        &.printemps { color: #785fa1; } 

        i.icon {
          font-size: 20px;
          line-height: 3.5rem;
          padding: 0;
        }

        &.instance-login {
          img {
            height: 23px;
            float: left;
            top: 10px;
            margin-top: 9px;
            margin-right: 1rem;
          }          
        }
      }
    }
  }    
    

  .or-label
  {
  	position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    clear: both;
    overflow: hidden;
    color: #5a5a5a;

  	&:before
  	{
  		right: 0.5em;
    	margin-left: -50%;
  	}

  	&:after
  	{
  		left: 0.5em;
    	margin-right: -50%;
  	}

  	&:before, &:after
  	{
  		content: '';
	    position: relative;
	    width: 50%;
	    background-color: rgba(0,0,0,0.2);
	    display: inline-block;
	    height: 1px;
	    vertical-align: middle;
  	}
  }
}  