/*
* @Author: Sebastian Castro
* @Date:   2017-06-22 18:43:02
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-07-21 11:07:04
*/

#page-container.directory
{
	@include flexbox();
}

#page-content.directory
{
	width: 100%;
	height: 100%;
	margin: 0;
	max-width: 100%;	

	section 
	{
		padding: 0;
	}

	.flash-messages-container
	{
		display: block;
    margin: 0;

    .flash-message
		{
		    padding: .5rem;
		    text-align: center;
		    margin-bottom: 0;
		    
		    background-color: #4a7874;
		    color: #fff;

		    border-bottom: 2px solid #37504e;

		    .btn-close
		    {
		    	display: block;
		    	top: .5rem;

		    	color: white;
			    font-size: 20px;
			    margin: 0 1rem;
			    position: absolute;
			    right: 0;

			    &:hover { color: $primary-color; cursor: pointer;}
		    }
		    
		}
	}
}

#directory-container
{
	height: 100%;
}