/*
* @Author: Sebastian Castro
* @Date:   2017-04-03 13:36:02
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-04-03 13:36:12
*/
label ~ ul {  color: #b51717; }
h2 { text-align: center; }
.form-actions { text-align: center; margin-top: 1rem; }