/*
* @Author: Sebastian Castro
* @Date:   2017-04-03 13:36:02
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-02-20 18:36:41
*/ 
#page-content.register
{
  @media #{$small-only} { padding-top: 10px; }
  max-width: 550px !important;
  background-color: transparent !important;
  section { 
    background-color: white;
    border-radius: 5px;
  }

  .form-actions { 
    text-align: center; 
    margin-top: 1rem; 
    @media #{$medium-and-up} { margin-top: 2rem; }
    .btn { width: 100%; }
  }

  h2.optional {
    margin: 0;
  }

  .newsletter-explanation {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
  }

  #biopen_user_registration_newsletterFrequency {
    padding-left: 3px;
    label {
      &:not(:last-child) { margin-right: 40px; }
      padding-left: 40px;
      @media #{$small-only} {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  .divider {
    border:none;
  }

  h2 { text-align: center !important; }
}   