/*
* @Author: Sebastian Castro
* @Date:   2017-04-03 13:36:02
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-07-29 08:23:06
*/
label ~ ul {  color: #b51717; }
h2 { text-align: center; }
.form-actions { text-align: center; margin-top: 1rem; }
 
#page-content.register
{
  max-width: 500px !important;
  padding-bottom: 1rem;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.35);
  .panel { margin-top: -2rem; }
  section { padding: 3.5rem 3.5rem 1rem 2.5rem; }
}   