{% extends "page-layout.html.twig" %}

{% set pageName = 'error' %}
{% set navTitle = "Erreur" %}

{% block title %}Erreur!{% endblock %} {# TODO Translation #}

{# BODY CONTENT #}
{% block body_content %}
  <section>
  	<h1 style="font-size: 2.5rem;">Oops! Une erreur s'est produite</h1> {# TODO Translation #}

    <div>
      <img src="https://media.giphy.com/media/P8WZZ0NYdbXAA/giphy.gif" width="200" height="200" /></br></br>

      Si le problème persiste, merci de nous en informer de préférence sur le</br> {# TODO Translation #}
      <a href="https://chat.lescommuns.org/channel/gogocarto" target="blank">Tchat GoGoCarto</a> ou par mail à {{ contact_email }} {# TODO Translation #}
      en copiant le message d'erreur ci-dessous {# TODO Translation #}
      
      <pre class="gogo-bg-background" style="padding: 1rem 1rem 0 1rem;border-radius: 5px;">
{{ app.request.uri }}
{{ status_code }} {{ status_text }}
{{ exception.message }}
{{ exception.file }} at Line {{ exception.line }} {# TODO Translation ? #}
      </pre>
    </div>
  </section>
{% endblock %}

