	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/03/2016 15:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-berry:before { content: "\f100"; }
.flaticon-cheese:before { content: "\f101"; }
.flaticon-cheese-1:before { content: "\f102"; }
.flaticon-circle:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-draw:before { content: "\f105"; }
.flaticon-food:before { content: "\f106"; }
.flaticon-food-1:before { content: "\f107"; }
.flaticon-food-10:before { content: "\f108"; }
.flaticon-food-2:before { content: "\f109"; }
.flaticon-food-3:before { content: "\f10a"; }
.flaticon-food-4:before { content: "\f10b"; }
.flaticon-food-5:before { content: "\f10c"; }
.flaticon-food-6:before { content: "\f10d"; }
.flaticon-food-7:before { content: "\f10e"; }
.flaticon-food-8:before { content: "\f10f"; }
.flaticon-food-9:before { content: "\f110"; }
.flaticon-fruit:before { content: "\f111"; }
.flaticon-fruit-1:before { content: "\f112"; }
.flaticon-fruit-2:before { content: "\f113"; }
.flaticon-fruit-3:before { content: "\f114"; }
.flaticon-fruit-4:before { content: "\f115"; }
.flaticon-fruit-5:before { content: "\f116"; }
.flaticon-map:before { content: "\f117"; }
.flaticon-map-1:before { content: "\f118"; }
.flaticon-nature:before { content: "\f119"; }
.flaticon-river:before { content: "\f11a"; }