{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 ie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 ie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="fr"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9 ie" lang="fr"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
  <title>{% block title %}GoGoCarto{% endblock %}</title>
  <!-- TODO --><meta name="google-site-verification" content="" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
 
  {% set version = '1.14' %}

  {# gogocarto conatins materializeCss lib, so we load it for all files #}
  <link rel="stylesheet" href="{{ asset('assets/css/gogocarto.min.css?ver=' ~ version) }}">  

  {% block stylesheets %}
  {% endblock %}

  {# part of the head need to be created depending on configuration #}
  {% block customHeader %}
  {% endblock %}  
  
  <meta name="robots" content="index, follow, all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
</head>

<body>

  {% block body %}
  {% endblock %} 

  {# Mains javascripts libs #}
  <script src="{{ asset('js/gogocarto.js?ver=' ~ version) }}"></script> 
  <script src="{{ asset('js/libs.js?ver=' ~ version) }}"></script>      

  {# Block to add custom javascript to each page #}
  {% block javascripts %}           
  {% endblock %}    

</body>
</html>

{% block modals %}
  
{% endblock %}