{% extends "@BiopenCoreBundle/base-layout.html.twig" %}

{% block body %}

	<div id="page-container">		

    <div>{{ render(controller('BiopenCoreBundle:Core:header'))}}</div>
		
		<div id="page-content">
			
			{% block body_content %}
			{% endblock %}
			
		</div>
	</div>	

{% endblock %}

