{% extends "::base_layout.html.twig" %}

{% block title %}Pages Vertes {% endblock %}

{# Stylessheets #}
{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body %}
	
	<h1>Bienvenue sur Pages Vertes</h1>
	<div class="input-field"> 
		<input class="validate" placeholder="Entrez votre adresse ici" type="text" id="inputAdresse" name="adresse"/>
	</div>
	<a href="{{ path('biopen_constellation_view', {'slug': 'Labrit'}) }}">
		<button  class="btn waves-effect waves-light">Constellation</button>
	</a>
	<button class="btn waves-effect waves-light">Liste</button>
	<button class="btn waves-effect waves-light">Ajouter Fournisseur</button>

{% endblock %}



{% block javascripts %}
    
	{% javascripts filter="?jsqueeze"
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/index.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
	</script>

{# <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js"></script> #}

{% endblock %}

