<div class="directory-menuTitle" id="menu-title">
  Menu
  <span class="icon-close">
  </span>
   <div class="shadow-bottom"></div>
</div>

<ul id="directory-menu-main-container" class="custom-scroll-bar">

{% include '@directory/directory/components/search-bar.html.twig'  %} 


<li class="directory-menuTitle">
  Emplacements
</li>

{% set elementTypes = ['marche', 'epicerie', 'boutique'] %}
{% for type in elementTypes %}    
    {% if type in constellationPhp.stars|keys %}
        {% set star = constellationPhp.stars[type] %}
        {% include '::core/starIndirectory-menu.html.twig' 
                  with {'star':star, 'starName':type} only %} 
    {% else %}
        <li class="row collection-item collapsible-header productItem disabled">
          <span class="icon disabled icon-{{type}}"></span>
          <span class="productName">{{ type|capitalize }}</span>
          <span class="resultNumber">0</span>
        </li>
    {% endif %}

{% endfor %}

<li class="directory-menuTitle">
  Produits
</li>

{% for key, product in constellationPhp.listProductsProvided %} 

    {% set star = constellationPhp.stars[product.nameFormate] %}
    {% include '::core/starIndirectory-menu.html.twig' 
      with {'star':star, 'starName':product.nameFormate} only %} 

{% endfor %} 



<ul class="collection">
{% for key, product in constellationPhp.listProductsNonProvided %} 
  
  <li class="row collection-item collapsible-header productItem disabled">

    <span class="icon disabled icon-{{product.nameFormate}}"></span>
     <span class="productName">{{ product.nameShort|capitalize }}</span>

    <span class="resultNumber">0</span>

  </li>

{% endfor %}  
</ul>




