<div class="project-container">
  <a class="project-item waves-effect waves-block waves-light z-depth-1" href="{{ project.homeUrl }}" target="_blank">
    {% if project.imageUrl %}
      <img class="project-logo" src="{{ project.imageUrl }}">
    {% else %}
      <img class="project-logo default" src="{{ asset('img/default-icon.png') }}">
    {% endif %}

    <div class="project-content">
      <div class="name gogo-neutral">{{ project.name|capitalize }}</div>
      {% set date = project.publishedAt ? project.publishedAt : project.createdAt %}
      <div class="published-at">{{ date|date("m/d/Y") }}</div> {# TODO translation #}
      <div class="published-at-int">{{ date ? date.getTimestamp : '' }}</div>
      <div class="tags">{{ project.tags }}</div>
      <div class="data-size gogo-bg-primary">
        <span class="size">{{ project.dataSize }}</span>
        <span class="icon gogo-icon-marker-symbol"></span>
      </div>
    </div>
  </a>
</div>